{% if request.user == deck.owner or deck.shared %}
    {% comment %}
    <p>
        {% if request.user == deck.owner %}<a href="{% url decks %}" class="xhr_link">&laquo; Back to Manage</a>
        {% else %}<a href="{% add_decks %}" class="xhr_link">&laquo; Back to Add</a>{% endif %}
    </p>
    {% endcomment %}

    <h1>{{ deck.name }}</h1>

    <p>{{ deck.description }}</p>

    <p>
        {% if request.user == deck.owner %}
            {% if deck.card_count %}
                {% include "flashcards/_reviews_start_buttons.html" %}
            {% endif %}
        {% else %}
            <button dojoType="dijit.form.Button">
	            Add Deck
	            <script type="dojo/connect" event="onClick" args="evt">
                    var url = '{% url api-subscribe_to_deck deck.id %}';
                    manabi_ui.xhrPostData(url).addCallback(function() { manabi_ui.refreshDeckInput(); });
	            </script>
            </button> Add this deck to your personal deck collection, so that you can start studying it.
        {% endif %}
    </p>
    <hr>
    <p>
        <h3>Deck Contents</h3>
        <br>
        {% if request.user == deck.owner %}
            <button dojoType="dijit.form.Button">
	            Create Flashcards
	            <script type="dojo/connect" event="onClick" args="evt">
                    fact_ui.showFactAddDialog('{{ deck.id }}');
	            </script>
            </button>
            <br>
            <br>
        {% endif %}
        
        {% include "flashcards/_facts_grid.html" %}
    </p> 

    {% if request.user == deck.owner %}
        <hr>
        {% if deck.shared %}
            <p>
                This deck has {{ deck.subscriber_decks.count }} subscriber{{ deck.subscriber_decks.count|pluralize }}.
            </p>
        {% endif %}
        <p>
            {% if not deck.synchronized_with %}
                <button dojoType="dijit.form.ToggleButton" id="flashcards_shareDeckInput" iconClass="" checked="{{ deck.shared }}">
                    {% if deck.shared %}Unshare{% else %}Share{% endif %} Deck
                    <script type="dojo/connect" event="onChange" args="evt">
                        if (evt) {
                            this.attr('label', 'Unshare Deck');
                            /*this.attr('iconClass', 'manabi_icon manabi_icon_control_play');*/
                        } else {
                            this.attr('label', 'Share Deck');
                            /*this.attr('iconClass', 'manabi_icon manabi_icon_control_pause');*/
                        }
                    </script>
                    <script type="dojo/connect" event="onClick" args="evt">
                        // Shares or unshares this deck.
                        var share = this.attr('checked');
                        var url = '{% url api-deck deck.id %}'; // + share ? 'share' : 'unshare';
                        manabi_ui.xhrPostData(url, {'shared': share});
                    </script>            
                </button>
                <span dojoType="dijit.Tooltip" connectId="flashcards_shareDeckInput" showDelay="0">
                    Choose whether to make this deck publicly available to other users on this site.<br>
                    If you share this deck, then other users can subscribe to it and receive your updates to it.
                </span>
            {% endif %}
            <button dojoType="dijit.form.Button">
	            Delete Deck
	            <script type="dojo/connect" event="onClick" args="evt">
                    var delete_response = window.confirm('Really delete this deck, and all the flashcards it contains? This action cannot be undone.');
                    if (delete_response) {
                        var url = '{% url delete_deck deck.id %}';
                        manabi_ui.xhrPostData(url, null, '{% url decks %}').addCallback(function(){ manabi_ui.refreshDeckInput(); });
                    }
	            </script>
            </button>
        </p>
    {% endif %}
{% endif %}
