

<div class="subfact">
    {% for field_type in subfact_form.field_types %}
        
        <strong><label>{{ field_type.name }}:</label></strong>{% comment %}{% if not field_type.blank %} <span style="font-size:80%; color:gray">(required)</span>{% endif %}{% endcomment %}
        <div class="field_content_error" style="display:inline"></div>
        <div style="overflow:hidden;">
            {% if field_type.multi_line %}
                <textarea dojoType="dijit.form.Textarea" 
            {% else %}
                <input dojoType="dijit.form.TextBox" 
            {% endif %}
                    name="field_content-{% if subfact_form.is_js_template %}${{{ forloop.counter0 }}}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-content" 
                    style="width:99%;margin-bottom:3px;" 
                    class="field_content{% if field_type.transliteration_field_type %} kanji_field{% endif %}{% if field_type.fieldtype %} reading_field{% endif %}"
                    tabIndex="{% if field_type.is_transliteration_field_type %}-1{% else %}3{{ forloop.counter }}{% endif %}">{% if field_type.multi_line %}</textarea>{% endif %}
            {% if field_type.transliteration_field_type %}
                <script type="text/javascript">
                    //this field has a corresponding transliteration field
                    /*dojo.addOnLoad(function() {
                        var field_widget = dijit.byId('id_field_content-{{ forloop.counter0 }}-content');
                        dojo.connect(field_widget, 'onBlur', function() {
                            //automatically generate this kanji field's reading
                            //TODO unless the newly focused field is the reading field (how to detect new focus?)
                            var reading_field_node = dojo.query('.reading_field'))[0];
                            if (reading_field_node) {
                                fact_ui.generateReading(
                                    this.attr('value'),
                                    dijit.getEnclosingWidget(reading_field_node));
                            }
                        });
                    });*/
                </script>
            {% else %}
            {% endif %}
        </div>
        <input dojoType="dijit.form.TextBox" 
        name="field_content-{% if subfact_form.is_js_template %}${{{ forloop.counter0 }}}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-field_type" 
            id="id_field_content-{{ forloop.counter0 }}-field_type" 
            value="{{ field_type.id }}" 
            type="hidden">
    {% endfor %}
</div>
