
<div class="subfact">
    {% for field_type in subfact_form.field_types %}
        {% with subfact_form.field_content_for_field_types|key:field_type as field_content %}
            <span style="float:left;clear:left;display:block;line-height:33px;">
                <strong><label>{{ field_type.name }}:</label></strong>
                {% if field_type.is_transliteration_field_type %}
                    {% spaceless %}
                        <span class="fakeLink" onclick="fact_ui.generateReading(dijit.byId('id_field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0|add:-1 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset|add:-1 }}{% endif %}-content').attr('value'),'id_field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-content')">
                            <img src="{{ MEDIA_URL }}static/css/dojo_themes/tundra/images/icons/arrow_refresh.png" alt="Refresh transliteration field">
                        </span>
                    {% endspaceless %}
                {% endif %}
            </span>

            <div id="id_field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-content-errors" class="field_content_error" style="display:inline"></div>

            <div style="overflow:hidden;">
                {% if field_type.multi_line %} <textarea dojoType="dijit.form.Textarea" {% else %} <input dojoType="dijit.form.TextBox" {% endif %}
                        name="field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-content" 
                        class="cards_fieldContent field_content" 
                        {% if is_js_template %}id="id_field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-content" {% endif %}
                        style="width:99%;margin-bottom:3px;" 
                        {% if not field_type.multi_line and field_content %}value="{{ field_content.content }}"{% endif %}
                        class="field_content{% if field_type.transliteration_field_type %} kanji_field{% endif %}{% if field_type.fieldtype %} reading_field{% endif %}"
                        tabIndex="4{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}">{% if field_type.multi_line %}{{ field_content.content }}</textarea>{% endif %}
            </div>

            <input dojoType="dijit.form.TextBox" 
                name="field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-field_type" 
                value="{{ field_type.id }}" 
                type="hidden">

            <input dojoType="dijit.form.TextBox" 
                name="field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-subfact_group" 
                {% if field_content %}value="{{ field_content.fact_type.id }}"{% else %}
                value="{% if subfact_form.is_js_template %}${% templatetag openbrace %}0{% templatetag closebrace %}{% else %}{{ subfact_form.field_content_offset }}{% endif %}" 
                {% endif %}
                type="hidden">

            {% if field_content %}
                <input dojoType="dijit.form.TextBox" 
                    name="field_content-{% if subfact_form.is_js_template %}${% templatetag openbrace %}{{ forloop.counter0 }}{% templatetag closebrace %}{% else %}{{ forloop.counter0|add:subfact_form.field_content_offset }}{% endif %}-id" 
                    value="{{ field_content.id }}" 
                    type="hidden">
            {% endif %}

        {% endwith %}
    {% endfor %}
    {% if subfact_form.subfact %}
        <input dojoType="dijit.form.TextBox" 
            name="fact-{{ subfact_form.fact_form_ordinal }}-id" 
            value="{{ subfact_form.subfact.id }}" 
            type="hidden">
        <input dojoType="dijit.form.TextBox" 
        name="fact-{{ subfact_form.fact_form_ordinal }}-fact_type" 
            value="{{ subfact_form.fact_type.id }}" 
            type="hidden">
        <input dojoType="dijit.form.TextBox" 
            name="fact-{{ subfact_form.fact_form_ordinal }}-DELETE" 
            value="" 
            type="hidden">
    {% endif %}
    <span class="fakeLink" onClick="fact_ui.removeSubfactForm(dojo.query(this).closest('.subfact'){% if subfact_form.subfact %}, true{% endif %});{% if not subfact_form.subfact %}factAddDialog._position();{% endif %}">Remove</span>
    <hr>
</div>
