
<script type="text/javascript">
    // Turn our tags field into a widget
    $(function(){
        $('ul.fact_form_tags').tagit({
			//availableTags: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby", "python", "c", "scala", "groovy", "haskell", "perl"],
			// configure the name of the input field (will be submitted with form), default: item[tags]
            tagSource: '{% url api-fact_tags %}',
			singleField: true,
            singleFieldNode: $('#cardTagsInput'),
            caseSensitive: false,
            allowSpaces: true,
            removeConfirmation: true,
            tabIndex: 58
		});
	});
</script>


