
{% if is_early_review %}
    <p>
        <strong><span style="font-size:1.2em">
            {% if deck %}
                No cards in this deck are due for review.
            {% else %}
                No cards are due for review.
            {% endif %}
        </span></strong><br>
        {% include "flashcards/_next_card_due_at.html" %}
    </p>
    <button dojoType="dijit.form.Button">
	    <div style="margin:.7em 1.7em;"><h3>Review early</h3></div>
	    <script type="dojo/connect" event="onClick" args="evt">
            var args = {};
            {% if deck %}args.deck_id = {{ deck.id }}{% endif %}
            args.early_review = true;
            args.learn_more = false;
            reviews_ui.startSession(args);
	    </script>
    </button>
    <span style="font-size:1em;padding-left:.5em;">Start reviewing cards before they're due.</span>
    <br>
    {% if can_learn_more %}
        <button dojoType="dijit.form.Button">
	        <div style="margin:.7em .58em;"><h3>Learn new cards</h3></div>
	        <script type="dojo/connect" event="onClick" args="evt">
                var args = {};
                {% if deck %}args.deck_id = {{ deck.id }}{% endif %}
                args.early_review = true;
                args.learn_more = true;
                reviews_ui.startSession(args);
	        </script>
        </button>
        <span style="font-size:1em;padding-left:.5em;">See more new cards. You have <strong>{{ new_card_count }}</strong> new card{{ new_card_count|pluralize }} waiting.</span><br>
        <br>
    {% endif %}
{% else %}
    <div style="float:left; margin-right:.5em;margin-top:-.7em">
        <button dojoType="dijit.form.Button">
	        <div style="margin:.7em 1.7em;"><h3>Study now!</h3></div>
	        <script type="dojo/connect" event="onClick" args="evt">
                reviews_ui.startSession({ {% if deck %}deck_id: {{ deck.id }}{% endif %} });
	        </script>
        </button>
    </div>
    <div style="font-size:1.1em;">
        {% if due_card_count > 0 %}
            You have <strong>{{ due_card_count|add:new_cards_left_for_today }}</strong> card{{ due_card_count|pluralize }} due for review.
        {% else %}
            You have <strong>{{ new_cards_left_for_today }}</strong> card{{ new_cards_left_for_today|pluralize }} due for review.
        {% endif %}<br>
        <span style="color:gray; font-size:.8em">{% if new_cards_left_for_today %}{{ new_cards_left_for_today }} new, {% endif %}{{ due_card_count }} urgent.</span>
    </div>
{% endif %}
