
<div class="study_buttons">
    {% if is_early_review %}

        <div class="review_early">
            <div class="study_button_pretext none_due_yet info_box">
                <p>
                    {% if deck %}
                        No cards in this deck are due for review yet.
                    {% else %}
                        No cards are due for review yet.
                    {% endif %}
                </p>

                {% include "flashcards/_next_card_due_at.html" %}
            </div>

            <div style="clear:both"></div>

            {% if can_learn_more %}

                <div class="learn_more">
                    <button dojoType="dijit.form.Button">
	                    <div style="margin:.7em .6em;"><h3>Learn new cards</h3></div>
	                    <script type="dojo/connect" event="onClick" args="evt">
                            var args = {};
                            {% if deck %}args.deckId = {{ deck.id }}{% endif %}
                            args.earlyReview = false;
                            args.learnMore = true;
                            reviews_ui.startSession(args);
	                    </script>
                    </button>
                    <span class="study_button_meaning">See more new cards. You have <strong>{{ new_card_count }}</strong> new card{{ new_card_count|pluralize }} available.</span>
                </div>
                <div style="clear:both"></div>
            {% endif %}

            <button dojoType="dijit.form.Button">
	            <div style="margin:.7em 1.7em;"><h3>Review early</h3></div>
	            <script type="dojo/connect" event="onClick" args="evt">
                    var args = {};
                    {% if deck %}args.deckId = {{ deck.id }};{% endif %}
                    args.earlyReview = true;
                    args.learnMore = false;
                    reviews_ui.startSession(args);
	            </script>
            </button>

            <div class="study_button_meaning" style="position:relative; top:-.7em">
                Start reviewing cards before they're due.<br>
                <span class="weak subtext">You may review more now, but it would be more efficient to wait or find new cards to learn instead.</span>
            </div>
        </div>


    {% else %}

        <div class="study_now">
            <button dojoType="dijit.form.Button">
	            <div style="margin:.7em 1.7em;"><h3>Study now!</h3></div>
	            <script type="dojo/connect" event="onClick" args="evt">
                    reviews_ui.startSession({ {% if deck %}deckId: {{ deck.id }}{% endif %} });
	            </script>
            </button>
        </div>

        <div class="study_button_meaning" style="position:relative; top:-.7em">
            {% if due_card_count > 0 %}
                You have <strong>{{ due_card_count }}</strong> card{{ due_card_count|pluralize }} due for review.
                <div class="study_button_stats">{{ due_card_count }} urgent{% if unspaced_new_card_count %}, plus {{ unspaced_new_card_count }} more new card{{ new_card_count|pluralize }}{% endif %}.</div>
            {% else %}
                You have <strong>{{ unspaced_new_card_count }}</strong> card{{ unspaced_new_card_count|pluralize }} ready for review.
                <div class="study_button_stats">{{ due_card_count }} urgent{% if unspaced_new_card_count %}, and {{ unspaced_new_card_count }} new card{{ new_card_count|pluralize }}{% endif %}.</div>
            {% endif %}
        </div>

    {% endif %}

</div>

<div style="clear:both"></div>

