{% load xhrlinks %}

<h1>Add Decks</h1>
<p>
    Add a flashcard deck from the list below, or create one yourself.
</p>
<p>
    <h3>Public Deck Library</h3>
    {% for shared_deck in shared_deck_list %}
    <span style="font-size:120%"><a href="{{ shared_deck.get_absolute_url }}" class="xhr_link">{{ shared_deck.name }}</a></span> <span style="color:gray;font-size:90%;">({{ shared_deck.card_count }} facts, shared by {{ shared_deck.owner }})</span><br>
    {% endfor %}
</p>
<hr>
<p>
    <h3><a href="/flashcards/decks/create" class="xhr_link">Create New Deck</a></h3>
</p>

