


{% include "flashcards/reviews.html" %}


<div dojoType="dojox.widget.DialogSimple" jsId="cards_factEditorContainer" title="Edit Flashcard" modal="true" executeScripts="true">
</div>

<div dojoType="dijit.Dialog" jsId="factAddDialog" title="Create Flashcards">
    <script type="dojo/connect" event="onHide" args="evt">
        manabi_ui.xhrReload(); //TODO only reload the due count, or only if new cards were actually added
    </script>
    <script type="dojo/connect" event="onShow" args="evt">
        dojo.query('textarea', factAddDialog.domNode).forEach(function(node) {
            var widget = dijit.getEnclosingWidget(node);
            widget.resize();
        });
        dojo.query('div.hidden_in_form', factAddDialog.domNode).forEach(function(node) {
            var to_hide = true;
            var text_nodes = dojo.query('textarea', node);
            if (text_nodes.length) {
                var widget = dijit.getEnclosingWidget(text_nodes[0]);
                
                if (widget.get('value').trim() != '') {
                    to_hide = false;
                }
                if (to_hide) {
                    node.style.display = 'none';
                    //unhide the 'Add ...' link, which shows this hidden field
                    dojo.query(node).prev()[0].style.display = '';
                }
            }
        });
    </script>

    {% include "flashcards/fact_add_form.html" %}
</div>

