{% load xhrlinks %}

<h1>Decks</h1>

<table cellspacing=2 cellpadding="2" width=500>
{% for deck in deck_list %}
	<tr>
		<td width="350">{{ deck.name }}</td>
        <td><span><a href="/flashcards/decks/{{ deck.id }}/update" {% xhrlink_onclick %}>rename</a> 
        <a href="/flashcards/decks/{{ deck.id }}/share" {% xhrlink_onclick %}>share</a> 
        <a href="/flashcards/decks/{{ deck.id }}/delete" {% xhrlink_onclick %}>delete</a></span></td>
	</tr>
{% endfor %}
</table>
<br>
<a href="/flashcards/decks/create" {% xhrlink_onclick %}>Create New Deck</a><br>
<a href="/flashcards/shared_decks" {% xhrlink_onclick %}>Download Shared Deck</a>
