{% extends "body_pane_base.html" %}
{% load xhrlinks %}

{% block content %}

<h1>Create New Deck</h1>

<div dojoType="dijit.form.Form" jsId="deckForm" id="deckForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

        var def = manabi_ui.xhrPost(
            {% if deck %}
                '{% url update_deck deck.id %}',
            {% else %}
                '{% url create_deck %}',
            {% endif %}
            dojo.byId('deckForm'), 
            null/*'{{ post_save_redirect }}'*/);
	</script>
    <table>
	    {{ form }}
    </table>
	<button dojoType="dijit.form.Button" type="submit">Create</button>
	<button dojoType="dijit.form.Button" jsId="deckDeleteCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
            manabi_ui.xhrLink('{% url add_decks %}');
		</script>
	</button>
</div>

{% endblock %}
