
<h1>Share Deck</h1>

<div dojoType="dijit.form.Form" jsId="deckShareForm" id="deckShareForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

        manabi_ui.xhrPost(
            '/flashcards/decks/{{ deck.id }}/share',
            dojo.byId('deckShareForm'),
            '{{ post_redirect }}');
	</script>

    <em>{{ deck.name }}</em><br>
    Share this deck?<br>
    Everything in it will be made available to all other users.<br>
	<button dojoType="dijit.form.Button" type="submit">Share</button>
	<button dojoType="dijit.form.Button" jsId="shareDeckCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
            manabi_ui.xhrLink('/flashcards/decks');
		</script>
	</button>
</div>


