
<h1>Create New Deck</h1>

<div dojoType="dijit.form.Form" jsId="deckForm" id="deckForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

        var def = manabi_ui.xhrPost(
            {% if deck %}
                '/flashcards/decks/{{ deck.id }}/update',
            {% else %}
                '/flashcards/decks/create',
            {% endif %}
            dojo.byId('deckForm'), 
            null/*'{{ post_save_redirect }}'*/);
        def.addCallback(function() {
            manabi_ui.refreshDeckInput();
        });
	</script>
    <table>
	    {{ form.as_table }}
    </table>
	<button dojoType="dijit.form.Button" type="submit">Ok</button>
	<button dojoType="dijit.form.Button" jsId="deckDeleteCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
            manabi_ui.xhrLink('/flashcards/add');
		</script>
	</button>
</div>
