



<table cellspacing=2 cellpadding=2 width=200>
{% for deck in deck_list %}
	<tr>
		<td>{{ deck.name }}</td>
		<td><a href="#" onClick="ajaxLink('/flashcards/decks/{{ deck.id }}/update', '{{ container_id }}');">rename</a></td>
		<td><a href="#" onClick="ajaxLink('/flashcards/decks/{{ deck.id }}/share', '{{ container_id }}');">share</a></td>
		<td><a href="#" onClick="ajaxLink('/flashcards/decks/{{ deck.id }}/delete', '{{ container_id }}');">delete</a></td>
	</tr>
{% endfor %}
</table>
<br>
<a href="#" onClick="ajaxLink('/flashcards/decks/create', '{{ container_id }}');">Create New Deck</a><br>
<a href="#" onClick="ajaxLink('/flashcards/shared_decks', '{{ container_id }}');">Download Shared Deck</a>
