{% if request.user == deck.owner or deck.shared %}
    {% comment %}
    <p>
        {% if request.user == deck.owner %}<a href="/flashcards/decks" class="xhr_link">&laquo; Back to Manage</a>
        {% else %}<a href="/flashcards/add" class="xhr_link">&laquo; Back to Add</a>{% endif %}
    </p>
    {% endcomment %}

    <h1>{{ deck.name }}</h1>

    <p>{{ deck.description }}</p>

    <p>
        {% if request.user == deck.owner %}
            {% ifnotequal deck.card_count 0 %}
                <button dojoType="dijit.form.Button">
	                Study Now
	                <script type="dojo/connect" event="onClick" args="evt">
                        reviews_ui.startSession({ deck_id: {{ deck.id }} });//, 10, 0, '');
	                </script>
                </button>
            {% endifnotequal %}
        {% else %}
            <button dojoType="dijit.form.Button">
	            Add Deck
	            <script type="dojo/connect" event="onClick" args="evt">
                    var url = '/flashcards/rest/decks/{{ deck.id }}/subscribe';
                    manabi_ui.xhrPostData(url);
	            </script>
            </button> Add this deck to your personal deck collection, so that you can start studying it.
        {% endif %}
    </p>

    <hr>
    <p>
        <h3>Deck Contents</h3>
        <br>
        {% if request.user == deck.owner %}
            <button dojoType="dijit.form.Button">
	            Create Flashcards
	            <script type="dojo/connect" event="onClick" args="evt">
                    fact_ui.showFactAddDialog('{{ deck.id }}');
	            </script>
            </button>
        {% endif %}

        
        {% include "flashcards/_facts_grid.html" %}
    </p> 

    {% if request.user == deck.owner %}
        <hr>
        <p>
            {% if not deck.synchronized_with %}
                <button dojoType="dijit.form.ToggleButton" iconClass="" checked="{{ deck.shared }}">
                    {% if deck.shared %}Unshare{% else %}Share{% endif %} Deck
                    <script type="dojo/connect" event="onChange" args="evt">
                        if (evt) {
                            this.attr('label', 'Unshare Deck');
                            /*this.attr('iconClass', 'manabi_icon manabi_icon_control_play');*/
                        } else {
                            this.attr('label', 'Share Deck');
                            /*this.attr('iconClass', 'manabi_icon manabi_icon_control_pause');*/
                        }
                    </script>
                    <script type="dojo/connect" event="onClick" args="evt">
                        // Shares or unshares this deck.
                        var share = this.attr('checked');
                        var url = '/flashcards/rest/decks/{{ deck.id }}'; // + share ? 'share' : 'unshare';
                        manabi_ui.xhrPostData(url, {'shared': share});
                    </script>            
                </button>
            {% endif %}
            <button dojoType="dijit.form.Button">
	            Delete Deck
	            <script type="dojo/connect" event="onClick" args="evt">
                    var delete_response = window.confirm('Really delete this deck, and all the flashcards it contains? This action cannot be undone.');
                    if (delete_response) {
                        var url = '{{ deck.get_absolute_url }}/delete';
                        manabi_ui.xhrPostData(url, null, '/flashcards/decks');
                    }
	            </script>
            </button>
        </p>
    {% endif %}
{% endif %}
