<style>
@import url({{DOJANGO.DOJOX_URL}}/form/resources/CheckedMultiSelect.css);
@import url({{DOJANGO.DOJOX_URL}}/widget/Standby/Standby.css);
@import url({{DOJANGO.DOJOX_URL}}/grid/resources/Grid.css);
@import url({{DOJANGO.DOJOX_URL}}/layout/resources/FloatingPane.css);
{% comment %}@import url({{DOJANGO.DOJOX_URL}}/grid/resources/tundraGrid.css);{% endcomment %}
@import url(site_media/static/flashcards/css/tundraGridMod.css);

.dojoxGrid table {
  margin: 0;
}
</style>

<script type="text/javascript" src="/site_media/static/flashcards/js/flashcards.js"></script>
<script type="text/javascript" src="/site_media/static/flashcards/js/reviews.js"></script>
