<style>
@import url({{DOJANGO.DOJOX_URL}}/form/resources/CheckedMultiSelect.css);
@import url({{DOJANGO.DOJOX_URL}}/widget/Standby/Standby.css);
@import url({{DOJANGO.DOJOX_URL}}/grid/resources/Grid.css);
{% comment %}@import url({{DOJANGO.DOJOX_URL}}/grid/resources/tundraGrid.css);{% endcomment %}
@import url(site_media/static/flashcards/css/tundraGridMod.css);
@import url({{DOJANGO.DOJOX_URL}}/widget/Dialog/Dialog.css);
.dojoxGrid table {
  margin: 0;
}
</style>

<script type="text/javascript" src="/site_media/static/flashcards/js/flashcards.js"></script>
<script type="text/javascript" src="/site_media/static/flashcards/js/reviews.js"></script>
<script type="text/javascript" src="/site_media/static/flashcards/js/reviews_ui.js"></script>






<script type="text/javascript">
    //defaultCell: { width: 8, editable: false, type: dojox.grid.cells._Widget },

    var cards_editRow = function(row_index) {
        var selected_fact_id = cards_factsGrid.getItem(row_index)['fact-id'];
        var success_callback = dojo.hitch(null, function(selected_fact_row_index, data, card_counter) {
            fact_ui.hideFactEditForm();
            //update the grid item via the grid's store, to update the display (though the change has already gone to the server)
            var grid_item = cards_factsGrid.getItem(selected_fact_row_index);
            dojo.query('.cards_fieldContent', cards_factForm.domNode).forEach(function(field_content_item) {
                var field_content_type_item = dijit.getEnclosingWidget(field_content_item.nextElementSibling);
                var field_content_item = dijit.getEnclosingWidget(field_content_item);
                var new_value = '';
                if (field_content_item.attr('baseClass') == 'dijitSelect') {
                    new_value = field_content_item.attr('displayedValue');
                } else {
                    new_value = field_content_item.attr('value');
                }
                cards_factsGrid.store.setValue(grid_item, 
                    'id' + field_content_type_item.attr('value'), 
                    new_value);
            });
            cards_factsGrid.store.save(); //TODO handle errors
        }, row_index);
    
        fact_ui.showFactEditForm(selected_fact_id, success_callback);
    }

dojo.declare("dojox.grid.formatterScopeObj", null, {
			store: null,
			_widgets: [],
			constructor: function(kwArgs){
				this.store = kwArgs.store;
				this._widgets = [];
			},
			/*invalidateCache: function(){
				// Called when we need to clean our cache and destroy our
				// widgets.
				dojo.forEach(this._widgets, function(w){
					if(w && w.destroy){
						w.destroy();
					}
				});
				this._widgets = [];
			},*/
			/*fmtBool: function(value, idx){
				return (value == "country");
			},*/

    cards_formatCardActions: function(item, row_index) {
        return '<span class="fakeLink" onclick="cards_editRow('+row_index+')">Edit</span>';
        //return "<button>edit</button>";
        //return "<u><font color="blue">edit</font></u>";
                             }});

    fact_ui.current_search_url_parameter = '';
    fact_ui.current_tag_filter_list = Array();


    dojo.addOnLoad(function() {
        fact_add_ui.setKeyboardShortcuts();
    });
</script>
