{% comment %}Update this to use the standard fact_form.html, need to update the js to use the new names mostly{% endcomment %}

<div dojoType="dojo.data.ItemFileReadStore" jsId="decksStore" 
    url="/flashcards/rest/decks" clearOnClose="true">
</div>


<div id="factAddFormWrapper">
    <div dojoType="dijit.form.Form" jsId="factAddForm" encType="multipart/form-data" action="" method="">
        <div>
            <div>
                <strong>Deck:</strong>
                <span id="deckInputContainer">
                <input name="fact-deck" jsId="deckInput" 
                    dojoType="dijit.form.Select" tabIndex="49">
                    </input></span>
                {% comment %}Model: <input name="fact-fact_type" jsId="factTypeInput" dojoType="dojox.form.DropDownSelect"></input>{% endcomment %}
            </div>
        </div>
        <br>
        <div>
            <div><strong style="vertical-align:top">Cards:</strong>
            <select multiple="true" dojoType="dojox.form.CheckedMultiSelect" 
                jsId="cardTemplatesInput" style="height:76px;">
                {% for card_template in fact_add_form.card_templates %}
                    <option value="{{ card_template.id }}"{% if card_template.generate_by_default %} selected="selected"{% endif %}>
                        {{ card_template.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
        </div>
        <br>
        <div id="factFields">
            {% for field_type in fact_add_form.field_types %}
                <div>
                    <strong>{{ field_type.name }}:</strong>{% if not field_type.blank %} <em>(required)</em>{% endif %}
                    <div id="id_field_content-{{ forloop.counter0 }}-content-errors" class="field_content_error"></div>
                    <div id="id_field_content-{{ forloop.counter0 }}-content" 
                        name="field_content-{{ forloop.counter0 }}-content" 
                        dojoType="dijit.form.SimpleTextarea" 
                        rows="2" style="width:400px;" class="field_content{% if field_type.kanji_reading %} kanji_field{% endif %}{% if field_type.fieldtype %} reading_field{% endif %}"
                        tabIndex="5{{ forloop.counter }}">{% if field_type.kanji_reading %}{% spaceless %}
                        {% endspaceless%}<script type="dojo/connect" event="onBlur" args="evt">
                            //automatically generate this kanji field's reading
                            //TODO unless the newly focused field is the reading field (how to detect new focus?)
                            var reading_field_node = dojo.query('.reading_field', dojo.byId('factFields'))[0];
                            if (reading_field_node) {
                                fact_ui.generateReading(
                                    this.attr('value'),
                                    dijit.getEnclosingWidget(reading_field_node));
                            }
                        </script>{% spaceless %}
                        {% endspaceless%}{% endif %}</div>
                    <input dojoType="dijit.form.TextBox" 
                        name="field_content-{{ forloop.counter0 }}-field_type" 
                        id="id_field_content-{{ forloop.counter0 }}-field_type" 
                        value="{{ field_type.id }}" 
                        type="hidden"></input>
                </div>
            {% endfor %}

        </div>
        <span class="fakeLink" onclick="fact_ui.generateReading(dijit.byId('id_field_content-0-content').attr('value'),'id_field_content-2-content')">Generate Reading</span>

        <br>
        <br>
        <div>
            <strong>Tags:</strong> 
            <input type="text" name="fact-tags" dojoType="dijit.form.TextBox" 
            id="cardTagsInput" style="width:362px" tabIndex="58">
        </div>
        <br>
        <div>
            <span>
                <button dojoType="dijit.form.Button" type="submit" 
                    jsId="factAddFormSubmitButton" tabIndex="59">
                    Add Flashcards
                    </button>{% comment %} <button dojoType="dijit.form.Button">
                    Close
                    <script type="dojo/connect" event="onClick" args="evt">
                        //factAddDialog.hide();
                    </script>
                </button>{% endcomment %}
            </span>
        </div>
        <div jsId="factAddFormResults" dojoType="dijit.layout.ContentPane"></div>
    </div>
</div>
