
<div style="width:388px; float:left; padding-right: 20px;">
    <div dojoType="dijit.form.Form" jsId="cards_factForm" encType="multipart/form-data" action="" method="">
        <script type="dojo/connect" event="onSubmit" args="evt">
            evt.preventDefault();
            selected_fact_id = cards_factForm.attr('value')['fact-id'];
            fact_ui.submitFactForm(cards_factForm, selected_fact_id);
        </script>

        <input dojoType="dijit.form.TextBox" 
            name="_method" 
            value="PUT" 
            type="hidden"></input>
        <input dojoType="dijit.form.TextBox" 
            name="fact-id" 
            value="{{ fact.id }}" 
            type="hidden"></input>
        <div>
            <div>
                <strong>Deck:</strong>
                <select name="fact-deck" dojoType="dijit.form.Select">
                    {% for deck in decks %}
                        <option value="{{ deck.id }}"{% ifequal deck.id fact.deck.id %} selected="selected"{% endifequal %}>
                            {{ deck.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div>
            <div><strong style="vertical-align:top">Cards:</strong>
            <select class="cards_cardTemplates" multiple="true" dojoType="dojox.form.CheckedMultiSelect" style="height:76px;">
                {% for card_template in card_templates %}
                    <option value="{{ card_template.id }}"{% if card_template.activated_for_fact %} selected="selected"{% endif %}>
                        {{ card_template.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
        </div>
        <div class="cards_factFields">
            {% for field_content in fact.fieldcontent_set.all %}
                <br>
                {% with field_content.field_type as field_type %}
                    <div>
                        <strong>{{ field_type.name }}:</strong>{% if not field_type.blank %} <em>(required)</em>{% endif %}
                        {% if field_type.choices %}
                            <select 
                                name="field_content-{{ forloop.counter0 }}-content"
                                class="cards_fieldContent" 
                                dojoType="dijit.form.Select"
                                tabIndex="5{{ forloop.counter }}">
                                <option value="none"{% ifequal field_content.content "" %}selected="selected"{% endifequal %}>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </option>
                                {% for choice_value, choice_name in field_type.choices_as_tuple %}
                                <option value="{{ choice_value }}"
                                    {% ifequal field_content.content choice_value %}selected="selected"{% endifequal %}>
                                        {{ choice_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <div class="field_content_error"></div>
                            <textarea  
                                name="field_content-{{ forloop.counter0 }}-content" 
                                class="cards_fieldContent" 
                                dojoType="dijit.form.Textarea" 
                                rows="2" style="width:400px;">{{ field_content.content }}</textarea>
                            {% if field_type.is_transliteration_field_type %}
                                <span class="fakeLink" 
                                    onclick="fact_ui.generateReading(dijit.getEnclosingWidget(dojo.query('.cards_fieldContent')[0]).attr('value'), dijit.getEnclosingWidget(dojo.query('.cards_fieldContent')[2]))">Generate Reading</span>
                            {% endif %}
                        {% endif %}
                        <input dojoType="dijit.form.TextBox" 
                            name="field_content-{{ forloop.counter0 }}-field_type" 
                            class="cards_fieldContentType" 
                            value="{{ field_type.id }}" 
                            type="hidden"></input>
                        <input dojoType="dijit.form.TextBox" 
                            name="field_content-{{ forloop.counter0 }}-id" 
                            value="{{ field_content.id }}" 
                            type="hidden"></input>
                    </div>
                {% endwith %}
            {% endfor %}

        </div>
        <br>
        <div>
            <strong>Tags:</strong> <input name="fact-tags" type="text" dojoType="dijit.form.TextBox" 
                                    class="cards_tagsInput" style="width:343px" 
                                    value="{{ fact.edit_string_for_tags }}">
        </div>
        <br>
        <div style="padding-bottom: 10px">
            <span>
                <button dojoType="dijit.form.Button" type="submit">
                    Update
                </button>
                <button dojoType="dijit.form.Button">
                    Cancel
                    <script type="dojo/connect" event="onClick" args="evt">
                        fact_ui.hideFactEditForm();
                    </script>
                </button>
            </span>
        </div>
    </div>
</div>

{% comment %}
{% endcomment %}
