<h1>Flashcard Editor</h1>


<div dojoType="dojo.data.ItemFileWriteStore" jsId="cards_factStore" 
    url="/flashcards/rest/facts?fact_type=1" clearOnClose="true">
</div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="cards_fieldTypeStore" 
    url="/flashcards/rest/fact_types/1/fields">
</div>
<div dojoType="dojox.grid.formatterScopeObj" store="cards_factStore" jsId="myObject"></div> 


    <div dojoType="dojo.data.ItemFileReadStore" jsId="cards_factsTagsStore" 
        url="flashcards/rest/facts/tags">
    </div>
<div dojoType="dijit.form.Form" encType="multipart/form-data" action="" method="" style="display:inline;">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();
        var cards_factSearchField = dijit.byId('cards_factSearchField');
        var search_query = cards_factSearchField.attr('value');
        if (search_query.trim()) {
            var store = cards_factsGrid.store;
            store.close();
            //FIXME hack until we find a cleaner way to do this
            fact_ui.current_search_url_parameter = 'fact_type=1&search='+encodeURIComponent(search_query);
            store.url = '/flashcards/rest/facts?' + fact_ui.current_search_url_parameter;
            if (fact_ui.current_tag_filter_list.length) {
                var encoded_tag_list = dojo.map(fact_ui.current_tag_filter_list, function(item) { return encodeURIComponent(item) }).join(',');
                store.url += '&tags=' + encoded_tag_list; //TODO refactor, abstract redundancy
            }
            store.fetch();
            cards_factsGrid.sort(); //forces a refresh
            cards_clearFactSearchButton.domNode.style.visibility='';
        } else {
            fact_ui.clearFactSearch();
        }
    </script>
    {% spaceless %}
    <input type="text" dojoType="dijit.form.TextBox" id="cards_factSearchField">
    <button dojoType="dijit.form.Button" type="submit">
        Search
    </button>
    <button dojoType="dijit.form.Button" type="button" style="visibility: hidden;" jsId="cards_clearFactSearchButton">
        Clear Search
        <script type="dojo/connect" event="onClick" args="evt">
            fact_ui.clearFactSearch();
        </script>
    </button>
    {% endspaceless %}
</div>
<div dojoType="dijit.form.Form" encType="multipart/form-data" action="" method="" style="display:inline;">
	<script type="dojo/connect" event="onSubmit" args="evt">
        evt.preventDefault();
        //add to filter tag list
        fact_ui.current_tag_filter_list = Array(); //temp until multi filters are added
        fact_ui.current_tag_filter_list.push(dijit.byId('cards_factFilterByTagInput').attr('value'));
        //filter grid results
        var store = cards_factsGrid.store;
        store.close();
        //FIXME hack until we find a cleaner way to do this
        var encoded_tag_list = dojo.map(fact_ui.current_tag_filter_list, function(item) { return encodeURIComponent(item) }).join(',');
        store.url = '/flashcards/rest/facts?fact_type=1&tags=' + encoded_tag_list;
        if (fact_ui.current_search_url_parameter) {
            store.url += '&' + fact_ui.current_search_url_parameter;
        }
        store.fetch();
        cards_factsGrid.sort(); //forces a refresh
        //add closable tag div
        //TODO implement this
        //for now, we'll only allow 1 tag filter at a time
        cards_clearTagFiltersButton.domNode.style.visibility='';
    </script>
    Filter by tag: <input dojoType="dijit.form.FilteringSelect" store="cards_factsTagsStore"
                        searchAttr="name" name="fact_tag" id="cards_factFilterByTagInput">
    <button dojoType="dijit.form.Button" type="submit">
        Filter
    </button>
    <button dojoType="dijit.form.Button" type="button" style="visibility: hidden;" jsId="cards_clearTagFiltersButton">
        Clear Filter
        <script type="dojo/connect" event="onClick" args="evt">
            fact_ui.clearTagFilters();
        </script>
    </button>
</div>


<table dojoType="dojox.grid.DataGrid" store="cards_factStore" query="{ }"
    clientSort="true" style="width: 100%; height: 350px;" jsId="cards_factsGrid"
    selectionMode="single" rowSelector="false" formatterScope="myObject">
    <script type="dojo/connect" event="onRowClick" args="evt">
        var row_index = evt.rowIndex;

        //enable the fact editing buttons
        cards_deleteButton.attr('disabled', false);
    </script>
    <script type="dojo/connect" event="onRowClick" args="evt">
        //TODO edit row
    </script>
    <thead><tr>
    {% for field_type in field_types %}
        <th width="auto" field="id{{ field_type.id}}">{{ field_type.name }}</th>
   {% endfor %}
    <th width="32px" field="fact-id" formatter="cards_formatCardActions">edit</th>
   </tr></thead>
</table>
<div style="position:relative; left:-2px; margin-top:3px;">
    <button jsId="cards_deleteButton" dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconDelete" disabled="true">
        Delete
        <script type="dojo/connect" event="onClick" args="evt">
            var delete_response = window.confirm('Really delete this flashcard?');
            if (delete_response) {
                grid_item = cards_factsGrid.selection.getSelected()[0];
                fact_id = grid_item['fact-id'][0]; //TODO allow multiple selections
                var deferred = dojo.xhrPost({
                    url: '/flashcards/rest/facts/' + fact_id,
                    handleAs: 'text',
                    content: { _method: 'DELETE' },
                    load: function(data) {
                        //remove the deleted row from the grid store
                        cards_factsGrid.store.deleteItem(grid_item);
                        cards_factsGrid.store.save(); //FIXME handle error?
                        //cards_deleteButton.attr('disabled', true);
                      } //FIXME handle error - if fails, don't remove from store'
                });
            }
        </script>            
    </button>
</div>





