
<div class="fact_form_container">
    <div dojoType="dijit.form.Form" jsId="cards_factForm" id="cards_factForm" encType="multipart/form-data" action="" method="">
        <script type="dojo/connect" event="onSubmit" args="evt">
            evt.preventDefault();
            selected_fact_id = '{{ fact.id }}'; //cards_factForm.get('value')['fact-0-id'];
            fact_ui.submitFactForm(cards_factForm, selected_fact_id);
        </script>

        <div class="dijitDialogPaneContentArea">
            <input dojoType="dijit.form.TextBox" 
                name="_method" 
                value="PUT" 
                type="hidden">

            <input dojoType="dijit.form.TextBox" 
                name="fact-INITIAL_FORMS" 
                value="{{ fact.subfacts.count|add:1 }}" 
                type="hidden">
            <input dojoType="dijit.form.TextBox" 
                name="fact-TOTAL_FORMS" 
                value="{{ fact.subfacts.count|add:1 }}" 
                type="hidden">
            <input dojoType="dijit.form.TextBox" 
                name="fact-0-id" 
                value="{{ fact.id }}" 
                type="hidden">
            <input dojoType="dijit.form.TextBox" 
                name="fact-0-deck" 
                value="{{ fact.deck_id }}" 
                type="hidden">
            <input dojoType="dijit.form.TextBox" 
                name="fact-0-fact_type" 
                value="{{ fact.fact_type_id }}" 
                type="hidden">


            <div class="cards_factFields">
                {% for field_content in field_contents %}
                    {% with field_content.field_type as field_type %}
                        <div class="field">
                            {% if field_type.hidden_in_form and not field_content.content and not field_type.disabled_in_form %}
                                <span class="fakeLink hiddenFieldLink" onClick="this.style.display='none';var c=dojo.query(this).next()[0];c.style.display='';var d=dijit.getEnclosingWidget(dojo.query('textarea',c)[0]);d.resize();d.focus();">Add {{ field_type.display_name }}</span>
                            {% endif %}
                            <div{% if field_type.hidden_in_form and not field_content.content %} class="hidden_in_form" style="display:none"{% endif %}>
                                {% if field_type.is_transliteration_field_type %}
                                    <span><label>{{ field_type.display_name }}:</label>{% if not field_type.blank %} <span style="font-size:80%; color:gray">(required)</span>{% endif %}
                                        {% spaceless %}
                                            <span class="fakeLink" onclick="fact_ui.generateReading(dijit.getEnclosingWidget(dojo.query('.cards_fieldContent')[0]).get('value'), dijit.getEnclosingWidget(dojo.query('.cards_fieldContent')[1]))">
                                                <img src="{{ MEDIA_URL }}static/css/dojo_themes/tundra/images/icons/arrow_refresh.png" alt="Refresh transliteration field">
                                            </span>
                                        {% endspaceless %}
                                    </span>
                                {% else %}
                                    <label>{{ field_type.display_name }}:</label>{% if not field_type.blank %} <span style="font-size:80%; color:gray">(required)</span>{% endif %}
                                {% endif %}
                                {% if field_type.choices %}
                                    <select 
                                        name="field_content-{{ forloop.counter0 }}-content"
                                        class="cards_fieldContent" 
                                        dojoType="dijit.form.Select"
                                        tabIndex="5{{ forloop.counter }}">
                                        <option value="none"{% ifequal field_content.content "" %}selected="selected"{% endifequal %}>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </option>
                                        {% for choice_value, choice_name in field_type.choices_as_tuple %}
                                        <option value="{{ choice_value }}"
                                            {% ifequal field_content.content choice_value %}selected="selected"{% endifequal %}>
                                                {{ choice_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <div class="field_content_error"></div>
                                    {% if field_type.multi_line %}
                                        <textarea  
                                            name="field_content-{{ forloop.counter0 }}-content" 
                                            class="cards_fieldContent field_content {{ field_type.name }}" 
                                            dojoType="dijit.form.Textarea" 
                                            tabIndex="5{{ forloop.counter }}"
                                            rows="2">{{ field_content.content }}</textarea>
                                    {% else %}
                                        <input  
                                            name="field_content-{{ forloop.counter0 }}-content" 
                                            class="cards_fieldContent field_content {{ field_type.name }}" 
                                            dojoType="dijit.form.TextBox" 
                                            tabIndex="5{{ forloop.counter }}"
                                            value="{{ field_content.content }}">
                                    {% endif %}
                                {% endif %}
                                <input dojoType="dijit.form.TextBox" 
                                    name="field_content-{{ forloop.counter0 }}-field_type" 
                                    class="cards_fieldContentType" 
                                    value="{{ field_type.id }}" 
                                    type="hidden">
                                <input dojoType="dijit.form.TextBox" 
                                    name="field_content-{{ forloop.counter0 }}-id" 
                                    value="{{ field_content.id }}" 
                                    type="hidden">
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>
            <div>
                {% comment %}{% include "flashcards/example_sentence_form.html" %}{% endcomment %}
                <div id="cards_subfactFormsContainer" class="subfact_container_pane" style="height:9.5em;overflow:auto;{% if not fact.subfacts.all.count %}display:none;{% endif %}">
                    {% for subfact_form in subfact_forms %}
                        <div>
                            {% include "flashcards/subfact_form.html" %}
                        </div>
                    {% endfor %}
                </div>
                <span class="fakeLink" onClick="fact_ui.addSubfactFormLink(dojo.byId('cards_subfactFormsContainer'), dijit.byId('cards_factForm').domNode, '{% filter escapejs %}{% include "flashcards/subfact_form.html" %}{% endfilter %}', {{ subfact_form.field_types|length }});">Add {{ subfact_form.fact_type.name }}</span>
            </div>
            <br>
            <div>
                <label>Tags:</label>
                <ul class="fact_form_tags"></ul>
                <input type="hidden" name="fact-tags" class="cardsTagsInput" style="display:none" value="{{ fact.edit_string_for_tags }}">
                {% comment %}
                    <input name="fact-tags" type="text" dojoType="dijit.form.TextBox" 
                        class="cards_tagsInput" 
                        value="{{ fact.edit_string_for_tags }}">
                {% endcomment %}
            </div>
            <div>
                <div class="cards_form_container">
                    <label>Cards:</label>
                    <div class="card_templates">
                        {% for card_template in card_templates %}
                            <div class="card_template_container">
                                <div id="fact_form_cardTemplate{{ card_template.id }}" dojoType="dijit.form.CheckBox" value="{{ card_template.id }}"{% if card_template.activated_for_fact %} checked{% endif %}>
                                    <script type="dojo/connect" event="onChange" args="evt">
                                        dojo.query('#fact_form_cardTemplate{{ card_template.id }}').closest('.card_template_container').children('.card_preview').toggleClass('on', evt);
                                    </script>
                                </div>
                                <label for="fact_form_cardTemplate{{ card_template.id }}">{{ card_template.name }}</label>

                                {% autoescape off %}
                                    <div dojoType="{{ card_template.js_template }}" frontPrompt="{{ card_template.front_prompt }}" class="{% if card_template.activated_for_fact %}on{% endif %}">
                                        <script type="dojo/connect" event="onClick" args="evt">
                                            var checkbox = dijit.getEnclosingWidget(dojo.query('#fact_form_cardTemplate{{ card_template.id }}')[0]);
                                            checkbox.set('value', !checkbox.get('value'));
                                        </script>
                                    </div>
                                {% endautoescape %}
                            </div>
                        {% endfor %}
                    </div>
                {% comment %}<select class="cards_cardTemplates" multiple="true" dojoType="dojox.form.CheckedMultiSelect" style="height:76px;">
                    {% for card_template in card_templates %}
                        <option value="{{ card_template.id }}"{% if card_template.activated_for_fact %} selected="selected"{% endif %}>
                            {{ card_template.name }}
                        </option>
                    {% endfor %}
                </select>
                {% endcomment %}
                </div>
            </div>

            <input dojoType="dijit.form.TextBox" 
                name="field_content-INITIAL_FORMS" 
                value="{{ initial_field_content_form_count }}" 
                type="hidden">
            </div>

            <div style="margin-top:1em;">
                <div class="dijitDialogPaneActionBar">
                    <button dojoType="dijit.form.Button" type="submit" tabIndex="59" iconClass="manabi_icon manabi_icon_disk">
                        Update
                    </button>
                    <button dojoType="dijit.form.Button">
                        Cancel
                        <script type="dojo/connect" event="onClick" args="evt">
                            fact_ui.hideFactEditForm();
                        </script>
                    </button>
                </div>
            </div>
    </div>
</div>

{% include "flashcards/_fact_form_tag_widget_js.html" %}


