{% comment %}TODO:Update this to use the standard fact_form.html, need to update the js to use the new names mostly{% endcomment %}

<div dojoType="dojo.data.ItemFileReadStore" jsId="decksStore" 
    url="{% url api-decks %}" clearOnClose="true">
</div>


<div id="factAddFormWrapper"  class="fact_form_container">
    <div dojoType="dijit.form.Form" jsId="factAddForm" encType="multipart/form-data" action="" method="">
        <div class="dijitDialogPaneContentArea">
            <span id="deckInputContainer" style="display:none">
                <input name="fact-deck" jsId="deckInput" dojoType="dijit.form.Select" tabIndex="49">
            </span>

            <div id="factFields">
                {% for field_type in fact_add_form.field_types %}
                    {% if not field_type.disabled_in_form %}
                    <div class="field">
                        {% if field_type.hidden_in_form and not field_type.disabled_in_form %}
                            <span class="fakeLink hiddenFieldLink" onClick="this.style.display='none';var c=dojo.byId('field_content_container_{{ forloop.counter0 }}');c.style.display='';var d=dijit.getEnclosingWidget(dojo.query('textarea',c)[0]);d.resize();d.focus();">Add {{ field_type.display_name }}</span>
                        {% endif %}

                        <div id="field_content_container_{{ forloop.counter0 }}"{% if field_type.hidden_in_form %} class="hidden_in_form"{% endif %}>
                            {% if field_type.is_transliteration_field_type %}

                                <label>{{ field_type.display_name }}:</label>

                                {% if not field_type.blank %}
                                    <span class="required">(required)</span>
                                {% endif %}
                                {% spaceless %}
                                    <span class="fakeLink" onclick="fact_ui.generateReading(dijit.byId('id_field_content-0-content').get('value'),'id_field_content-1-content')">
                                        <img src="{{ MEDIA_URL }}static/css/dojo_themes/tundra/images/icons/arrow_refresh.png" class="refresh" alt="Refresh transliteration field">
                                    </span>
                                {% endspaceless %}

                            {% else %}

                                <label>{{ field_type.display_name }}:</label>
                                {% if not field_type.blank %}
                                    <span class="required">(required)</span>
                                {% endif %}

                            {% endif %}

                            {% if field_type.choices %}

                                <select id="id_field_content-{{ forloop.counter0 }}-content" 
                                    name="field_content-{{ forloop.counter0 }}-content"
                                    dojoType="dijit.form.Select"
                                    tabIndex="5{{ forloop.counter }}">
                                    <option value="none" selected="selected">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </option>
                                    {% for choice_value, choice_name in field_type.choices_as_tuple %}
                                        <option value="{{ choice_value }}">
                                            {{ choice_name }}
                                        </option>
                                    {% endfor %}
                                </select>

                            {% else %}

                                <div id="id_field_content-{{ forloop.counter0 }}-content-errors" class="field_content_error"{% if field_type.is_transliteration_field_type %} style="display:inline"{% endif %}></div>
                                <div style="overflow:hidden;">
                                    {% if field_type.multi_line %}
                                        <textarea dojoType="dijit.form.Textarea" 
                                    {% else %}
                                        <input dojoType="dijit.form.TextBox" 
                                    {% endif %}
                                            id="id_field_content-{{ forloop.counter0 }}-content" 
                                            name="field_content-{{ forloop.counter0 }}-content" 
                                            class="field_content{% if field_type.transliteration_field_type %} kanji_field{% endif %}{% if field_type.reverse_transliteration_field_type %} reading_field{% endif %}"
                                            tabIndex="{% if field_type.is_transliteration_field_type %}-1{% else %}3{{ forloop.counter }}{% endif %}">{% if field_type.multi_line %}</textarea>{% endif %}

                                    {% if field_type.transliteration_field_type %}
                                        <script type="text/javascript">
                                            //this field has a corresponding transliteration field
                                            dojo.addOnLoad(function() {
                                                var field_widget = dijit.byId('id_field_content-{{ forloop.counter0 }}-content');
                                                dojo.connect(field_widget, 'onBlur', function() {
                                                    //automatically generate this kanji field's reading
                                                    //TODO unless the newly focused field is the reading field (how to detect new focus?)
                                                    var reading_field_node = dojo.query('.reading_field', dojo.byId('factFields'))[0];
                                                    if (reading_field_node) {
                                                        fact_ui.generateReading(
                                                            this.get('value'),
                                                            dijit.getEnclosingWidget(reading_field_node));
                                                    }
                                                });
                                            });
                                        </script>
                                    {% endif %}
                                </div>

                            {% endif %}

                            <input dojoType="dijit.form.TextBox" 
                                name="field_content-{{ forloop.counter0 }}-field_type" 
                                id="id_field_content-{{ forloop.counter0 }}-field_type" 
                                value="{{ field_type.id }}" 
                                type="hidden">
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div>
                {% comment %}{% include "flashcards/example_sentence_form.html" %}{% endcomment %}
                <div id="cardSubfactFormsContainer" class="subfact_container_pane" style="height:9.5em;display:none;overflow:auto;"></div>
                <span class="fakeLink" onClick="fact_ui.addSubfactFormLink(dojo.byId('cardSubfactFormsContainer'), factAddForm.domNode, '{% filter escapejs %}{% include "flashcards/subfact_form.html" %}{% endfilter %}', {{ subfact_form.field_types|length }});factAddDialog._position();">Add {{ subfact_form.fact_type.name }}</span>
            </div>

            <br>
            <div>
                <div id="fact-tag-errors" class="field_content_error"></div>
                <label>Tags:</label> 
                <ul id="cardTagsList" class="fact_form_tags"></ul>
                <input type="hidden" name="fact-tags" id="cardTagsInput" style="display:none">
                {% comment %}
                    <input type="text" name="fact-tags" dojoType="dijit.form.TextBox" id="cardTagsInput" tabIndex="58">
                    <div dojoType="dijit.Tooltip" connectId="cardTagsInput" position="below">
                        Separate tag names by commas.
                    </div>
                {% endcomment %}

            </div>
            <div class="cards_form_container">
                <label>Cards:</label>
                {% comment %}<select multiple="true" dojoType="dojox.form.CheckedMultiSelect" 
                    jsId="cardTemplatesInput" style="height:6.2em;">
                    </select>
                {% endcomment %}
                <div class="card_templates">
                    {% for card_template in fact_add_form.card_templates %}
                        <input name="card_template-{{ card_template.id }}" id="id_card_template-{{ card_template.id }}" dojoType="dijit.form.CheckBox" value="{{ card_template.id }}"{% if card_template.generate_by_default %} checked{% endif %}>
                        <label for="id_card_template-{{ card_template.id }}">{{ card_template.name }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div style="margin-top:1em;">
            <div class="dijitDialogPaneActionBar">
                <button dojoType="dijit.form.Button" type="submit" 
                    jsId="factAddFormSubmitButton" tabIndex="59" iconClass="manabi_icon manabi_icon_disk">
                    Create Flashcards
                </button>
                <button dojoType="dijit.form.Button">
                    Close
                    <script type="dojo/connect" event="onClick" args="evt">
                        factAddDialog.hide();
                    </script>
                </button>
                <div jsId="factAddFormResults" dojoType="dijit.layout.ContentPane"></div>
            </div>
        </div>
    </div>
</div>



{% include "flashcards/_fact_form_tag_widget_js.html" %}


