<h1>Flashcard Editor</h1>

<script type="text/javascript">
        //defaultCell: { width: 8, editable: false, type: dojox.grid.cells._Widget },
    var cards_factStoreLayout = [
        [
            {% for field_type in field_types %}
                 { field: 'id{{ field_type.id }}',
                   name: '{{ field_type.name }}',
                   width: 'auto' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    ];
</script>

<div dojoType="dojo.data.ItemFileWriteStore" jsId="cards_factStore" 
    url="/flashcards/rest/facts?fact_type=1">
</div>

<div dojoType="dojo.data.ItemFileReadStore" jsId="cards_fieldTypeStore" 
    url="/flashcards/rest/fact_types/1/fields">
</div>
<table dojoType="dojox.grid.DataGrid" store="cards_factStore" query="{ }"
    clientSort="true" style="width: 100%; height: 300px;" jsId="cards_factsGrid"
    selectionMode="single" rowSelector="false" structure="cards_factStoreLayout">
    <script type="dojo/connect" event="onRowClick" args="evt">
        row_index = evt.rowIndex;
        selected_fact_id = this.getItem(row_index)['fact-id'];
        fact_ui.showFactEditForm(selected_fact_id, row_index);
    </script>
</table>

<hr>

<div dojoType="dijit.layout.ContentPane" jsId="cards_factEditorContainer" 
    style="display: none;">
</div>


