


<div class="fullscreen" id="reviews_fullscreenContainer" style="display:none" dojoType="dijit.layout.ContentPane">
    <div class="fullscreen_toolbar">
        <div dojoType="dijit.form.Button" type="button" iconClass="manabi_icon manabi_icon_clock_stop">
            Quit
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.endSession();
            </script>
        </div>
        <div dojoType="dijit.form.Button" type="button" iconClass="manabi_icon manabi_icon_application_form_edit">
            Edit
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.unsetKeyboardShortcuts();

                var success_callback = function(selected_fact_row_index, data, card_counter) {
                    fact_ui.hideFactEditForm();
                    var def = reviews.reload_current_card();
                    def.addCallback(function() {
                        reviews_ui.displayCard(reviews.current_card, reviews_ui.card_back_visible);
                        //if the fact editing grid is open, update it
                        if (typeof cards_factsGrid != 'undefined') {
                            var store = cards_factsGrid.store;
                            store.close();
                            store.fetch({onComplete: function(){
                                cards_factsGrid.sort();
                            }});
                        }
                    });
                    reviews_ui.setKeyboardShortcuts();
                };
                
                fact_ui.showFactEditForm(reviews.current_card.fact_id, success_callback);
            </script>
        </div>
        <div dojoType="dijit.form.Button" type="button" id="reviews_suspendCurrentCardButton" iconClass="manabi_icon manabi_icon_control_pause">
            Suspend Flashcard
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.suspendCurrentCard();
            </script>
        </div>
        <div dojoType="dijit.Tooltip" connectId="reviews_suspendCurrentCardButton" position="below" showDelay="10">
            Stop learning this flashcard.<br>
            It will no longer appear in future reviews.<br>
            You can unsuspend later with the Flashcard Editor.
        </div>
        <div dojoType="dijit.form.Button" type="button" iconClass="manabi_icon manabi_icon_undo" disabled="true" jsId="reviews_undoReviewButton">
            Undo Review
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.undo();
            </script>
        </div>
    </div>
    <div class="fullscreen_content">
        <div id="reviews_reviewScreen">

            <div style="text-align: center">
                <div class="flashcard_container">
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardFront" id="reviews_cardFront"></div>
                </div>
                <hr style="height:1px; border:0px; background-color:#888;">
                <div class="flashcard_container">
                    <div id="reviews_showCardBack" style="text-align: center;">
                        <button dojoType="dijit.form.Button" jsId="reviews_showCardBackButton" type="button">
                            <div style="width:300px; height:46px; line-height:46px; font-size:120%;">
                                Show Answer
                            </div>
                            <script type="dojo/connect" event="onClick" args="evt">
                                reviews_ui.showCardBack(reviews.current_card);
                            </script>
                        </button>
                        <div>
                            <span style="color:gray">(click or press [SPACE])</span>
                        </div>
                    </div>
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardBack" id="reviews_cardBack"></div>
                </div>
            </div>
            
            <div style="margin-left:auto;margin-right:auto;width:30em;height:8em;overflow:auto;display:none;" dojoType="dojox.layout.ContentPane" jsId="reviews_subfactPane" id="reviews_subfactPane"></div>

            <div id="reviews_gradeButtonsContainer">
                {% comment %}
                <div style="font-size:32px;text-align:center;">
                    <p class="reviews_back_prompt"><em>
                        Please grade your recall of this card.
                    </em></p>
                </div>
                {% endcomment %}
                <div id="reviews_gradeButtons" style="margin-top:8px;">
                    <div class="reviews_incorrectGradeButtons">
                        <div class="reviews_gradeButton">
                            <button dojoType="dijit.form.Button" id="reviews_gradeWrongButton" type="button" disabled="true">
                                <span class="reviews_gradeButtonInner">
                                    Wrong
                                </span>
                                <script type="dojo/connect" event="onClick" args="evt">
                                    //reviews_gradeWrongTooltip.close();
                                    reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_NONE);
                                </script>
                            </button><br>
                            <span id="reviews_gradeNoneInterval" class="reviews_gradeButtonInterval"></span>
                        </div>
                        <div style="clear:both;display:inline"></div>
                    </div>
                    <div class="reviews_correctGradeButtons">
                        <div class="reviews_gradeButton">
                            <button dojoType="dijit.form.Button" id="reviews_gradeHardButton" type="button" disabled="true">
                                <span class="reviews_gradeButtonInner">
                                    Hard
                                </span>
                                <script type="dojo/connect" event="onClick" args="evt">
                                    //reviews_gradeHardTooltip.close();
                                    reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_HARD);
                                </script>
                            </button><br>
                            <span id="reviews_gradeHardInterval" class="reviews_gradeButtonInterval"></span>
                        </div>
                        <div class="reviews_gradeButton">
                            <button dojoType="dijit.form.Button" id="reviews_gradeGoodButton" type="button" disabled="true">
                                <span class="reviews_gradeButtonInner">
                                    Good
                                </span>
                                <script type="dojo/connect" event="onClick" args="evt">
                                    //reviews_gradeGoodTooltip.close();
                                    reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_GOOD);
                                </script>
                            </button><br>
                            <span id="reviews_gradeGoodInterval" class="reviews_gradeButtonInterval"></span>
                        </div>
                        <div class="reviews_gradeButton">
                            <button dojoType="dijit.form.Button" id="reviews_gradeEasyButton" type="button" disabled="true">
                                <span class="reviews_gradeButtonInner">
                                    Too Easy
                                </span>
                                <script type="dojo/connect" event="onClick" args="evt">
                                    //reviews_gradeEasyTooltip.close();
                                    reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_EASY);
                                </script>
                            </button><br>
                            <span id="reviews_gradeEasyInterval" class="reviews_gradeButtonInterval"></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div style="margin-top:1em;text-align:center;">
                        <img src="{{ MEDIA_URL }}static/css/dojo_themes/tundra/images/icons/information.png" align="top"> <span class="fakeLink" id="reviews_gradesHelpLink" style="font-size:12px;color:#0174DF" onclick="dijit.byId('reviews_gradesHelpDialog').show()">What do these buttons mean?</span>
                    </div>
                    <div id="reviews_gradesHelpDialog" dojoType="dojox.widget.Dialog" dimensions="[570,430]">
                        <div style="padding-left:15px;padding-right:15px;">
                            <p>
                                This flashcard software uses the grades that you give each card to determine when you should review that card next in the future. When you're just starting to learn a new card, it's okay (and expected) that you'll have to rate the card review as a failure (the <em>Wrong</em> grade). After this initial learning period, ideally most of your grades will be <em>Good</em>. Please grade your cards honestly, and don't be afraid to give it a low rating if you're unsure of yourself.
                            </p>                    
			                <p style="">
                                <strong>Wrong</strong> - Rate a card as this if you couldn't remember its answer, or if you remembered it incorrectly or made a mistake.<br><br>
                                <strong>Hard</strong> - This grade means that you remembered the card's answer, but it was difficult to recall and took too long. This tells the flashcard algorithm that you should have reviewed this card earlier than you did.<br><br>
                                <strong>Good</strong> - This means that you recalled the card's answer correctly and with just a small amount of difficulty. This is the ideal response and means that this software is working effectively.<br><br>
                                <strong>Too Easy</strong> - This means that you recalled the answer very easily. You could have waited a while longer to review this card - it wasn't necessary to review it this early.
			                </p>
                            <p><strong>Hint:</strong> Press 1-4 to grade, instead of clicking the buttons. (1=Wrong, 2=Hard, 3=Good, 4=Too Easy)</p>
                        </div>
		            </div>
                </div>
            </div>
        </div>

        <div id="reviews_reviewEndScreen" style="display: none">
            <strong>Congratulations.</strong>
            You are done with this review session.
        </div>
    </div>
</div>







{% comment %}
<div dojoType="dojo.data.ItemFileReadStore" jsId="reviews_decksStore" 
    url="/flashcards/rest/decks_with_totals" clearOnClose="true">
</div>
{% endcomment %}


<div dojoType="dijit.Dialog" jsId="reviews_reviewDialog" id="reviews_reviewDialog" title="Flashcards">
	<script type="dojo/connect" event="onCancel" args="evt">
        reviews.endSession();
	</script>
	<script type="dojo/connect" event="onLoad" args="evt">
        //FIXME this isn't working - do it programmatically
        //reviews_reviewDialog.refocus = true;
	</script>
	<script type="dojo/connect" event="onKeyPress" args="evt">
        //submit the dialog if user presses Enter
        var k = dojo.keys;
        switch(evt.charOrCode) {
            case k.ENTER:
                //FIXME shouldnt be active for early review dialog //reviews_ui.submitReviewOptionsDialog();
                break;
        }
	</script>

    <div id="reviews_reviewOptions">
        
{% comment %}
        <strong style="font-size:120%">Study Options</strong><br><br>
        <strong>Decks to review:</strong><br>
        <div dojoType="dojox.grid.DataGrid" store="reviews_decksStore" 
            clientSort="true" style="width: 450px;" autoHeight="6" jsId="reviews_decksGrid"
            selectionMode="single" rowSelector="false"  
            rowsPerPage="40" keepRows="200" structure="reviews_decksGridLayout">
                <script type="dojo/connect" event="onSelectionChanged" args="evt">
                    dojo.byId('reviews_noCardsDue').style.display = 'none';
                    dojo.byId('reviews_beginReview').style.display = '';
                    reviews_beginReviewButton.attr('disabled', false);
                </script>
        </div>
        <br>
        <div>
            <strong>Filter cards by tag:</strong> <em>(optional)</em><br>
            <div dojoType="dijit.form.FilteringSelect" store="cards_factsTagsStore"
                searchAttr="name" jsId="reviews_filterByTagInput" style="display:inline-block">
                <script type="dojo/connect" event="onChange" args="evt">
                    if (this.attr('displayedValue').trim() != '') {
                        reviews_clearFilterByTagInput.domNode.style.visibility = '';
                    }
                    dojo.byId('reviews_noCardsDue').style.display = 'none';
                    dojo.byId('reviews_beginReview').style.display = '';
                    reviews_beginReviewButton.attr('disabled', false);
                </script>
            </div>
            <button dojoType="dijit.form.Button" type="button" style="visibility: hidden;" jsId="reviews_clearFilterByTagInput">
                Clear Filter
                <script type="dojo/connect" event="onClick" args="evt">
                    reviews_filterByTagInput.reset();
                    this.domNode.style.visibility = 'hidden';            
                </script>
            </button>
        </div>
        <div>
            <div style="margin-bottom:8px">
                <strong>Session time limit:</strong> 
                <input dojoType="dijit.form.NumberSpinner" value="10" smallDelta="1"
                constraints="{min:0,max:120,places:0}"
                jsId="reviews_timeLimitInput" style="width:80px"> minutes <span style="color:gray">(0 = unlimited)</span>
            </div>
            <div style="margin-bottom:8px">
                <strong>Session card limit:</strong>
                <input dojoType="dijit.form.NumberSpinner" value="0" smallDelta="5"
                constraints="{min:0,max:1000,places:0}"
                jsId="reviews_cardLimitInput" style="width:80px"> cards <span style="color:gray">(0 = unlimited)</span>
            </div>
        </div>
        <br>
    </div>

    {% endcomment %}
    <div id="reviews_emptyQuery" style="display: none">
        <strong style="font-size:120%">No cards to review.</strong><br>
        Your selection contains no cards to review.<br>
        <br>
        Try creating flashcards first, or download a shared deck.<br>
        <br>
        <span class="fakeLink" onclick="reviews_ui.showReviewOptions()">Back to study options</span>
    </div>
    <div id="reviews_noCardsDue" style="display: none">
        <strong style="font-size:120%">No cards are due right now.</strong><br>
        You should wait until later to review more.<br>
        But if you like, you may continue.<br>
        <br>
        <span id="reviews_noCardsDueNextDueAt"></span><br>
        <br>
        <div style="text-align:center">
            <span id="reviews_reviewEarlyContainer">
                <button dojoType="dijit.form.Button" type="button" jsId="reviews_beginEarlyReviewButton">
                    Review Early
                    <script type="dojo/connect" event="onClick" args="evt">
                        //reviews_ui.submitReviewOptionsDialog(true);
                        var args = dojo.clone(reviews_ui.last_session_args);
                        args.early_review = true;
                        args.learn_more = false;
                        reviews_ui.startSession(args);
                    </script>
                </button><br>
            </span>
            <span style="color:gray">Review cards before they're due.</span><br>
            <span id="reviews_learnMoreContainer">
                <br>
                <button dojoType="dijit.form.Button" type="button" jsId="reviews_learnMoreButton">
                    Learn More
                    <script type="dojo/connect" event="onClick" args="evt">
                        //reviews_ui.submitReviewOptionsDialog(true, true); // learn more, and learn new cards early if necessary
                        var args = dojo.clone(reviews_ui.last_session_args);
                        args.early_review = true;
                        args.learn_more = true;
                        reviews_ui.startSession(args);
                    </script>
                </button><br>
                <span style="color:gray">Learn new cards.</span><br>
            </span>
        </div>
        <br>
        <div dojoType="dijit.form.Button">
            Done
            <script type="dojo/connect" event="onClick" args="evt">
                reviews_reviewDialog.hide();
            </script>
        </div>
        {% comment %}
        <br>
        <span class="fakeLink" onclick="reviews_ui.showReviewOptions()">Back to study options</span>
        {% endcomment %}
    </div>
    <div id="reviews_beginReview">
        <button dojoType="dijit.form.Button" type="button" iconClass="manabi_icon manabi_icon_clock_play" jsId="reviews_beginReviewButton">
            Begin Review
            <script type="dojo/connect" event="onClick" args="evt">
                reviews_ui.submitReviewOptionsDialog();
            </script>
        </button>
    </div>

</div>


<div dojoType="dijit.Dialog" jsId="reviews_sessionOverDialog" id="reviews_sessionOverDialog" title="Flashcard Review">
	<script type="dojo/connect" event="onCancel" args="evt">
	</script>
	<script type="dojo/connect" event="onKeyPress" args="evt">
        //submit the dialog if user presses Enter
        var k = dojo.keys;
        switch(evt.charOrCode) {
            case k.ENTER:
                //TODO reviews_ui.submitReviewOptionsDialog();
                break;
        }
	</script>
    <strong style="font-size:120%">Well done.</strong><br>
    <br>
    Your study session is over. You reviewed <span id="reviews_sessionOverDialogReviewCount"></span> cards.<br>
    <br>
    <span id="reviews_sessionOverDialogNextDue">
    </span><br>
    <br>
    <button dojoType="dijit.form.Button" type="button">
        Done
        <script type="dojo/connect" event="onClick" args="evt">
            reviews_sessionOverDialog.hide();
        </script>
    </button>
    {% comment %}
    <button dojoType="dijit.form.Button" type="button">
        Review More
        <script type="dojo/connect" event="onClick" args="evt">
            reviews_sessionOverDialog.hide();
            var args = dojo.clone(reviews_ui.last_session_args);
            args.early_review = false;
            args.learn_more = false;
            reviews_ui.startSession(args); //reuse whatever args were used last to start a study session //{{ deck.id }});
            //reviews_ui.openDialog();
        </script>
    </button>
    {% endcomment %}
</div>

