<div class="fullscreen" id="reviews_fullscreenContainer" style="display:none">
    <div class="fullscreen_toolbar">
        <button dojoType="dijit.form.Button" type="button">
            Exit Review
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.endSession();
            </script>
        </button>
        <button dojoType="dijit.form.Button" type="button">
            Edit Flashcard
            <script type="dojo/method" event="onClick" args="evt">
                var success_callback = function(selected_fact_row_index, data, card_counter) {
                    fact_ui.hideFactEditForm();
                    var def = reviews.reload_current_card();
                    def.addCallback(function() {
                        reviews_ui.displayCard(reviews.current_card, reviews_ui.card_back_visible);
                    });
                };
                
                fact_ui.showFactEditForm(reviews.current_card.fact_id, success_callback);
            </script>
        </button>
    </div>
    <div class="fullscreen_content">
        <div id="reviews_reviewScreen">

            <div style="text-align: center">
                <div class="flashcard_container">
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardFront" id="reviews_cardFront"></div>
                </div>
                <hr>
                <div class="flashcard_container">
                    <div id="reviews_showCardBack" style="text-align: center;">
                        <button dojoType="dijit.form.Button" jsId="reviews_showCardBackButton" type="button">
                            <div style="width:300px; height:26px; line-height:26px">
                                Show Answer
                            </div>
                            <script type="dojo/method" event="onClick" args="evt">
                                reviews_ui.showCardBack(reviews.current_card);
                            </script>
                        </button>
                    </div>
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardBack" id="reviews_cardBack"></div>
                </div>
            </div>
            <div id="reviews_gradeButtons" style="margin-top:8px;">
                <table style="margin:0px auto;">
                <tr>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="false">
                    Wrong
                    <script type="dojo/method" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_NONE);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="false">
                    Hard
                    <script type="dojo/method" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_HARD);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="false">
                    Good
                    <script type="dojo/method" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_GOOD);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="false">
                    Too Easy
                    <script type="dojo/method" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_EASY);
                    </script>
                </button>
                </td>
                </tr>
                <tr>
                    <td id="reviews_gradeNoneInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeHardInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeGoodInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeEasyInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                </tr>
                </table>
            </div>
        </div>

        <div id="reviews_reviewEndScreen" style="display: none">
            <strong>Congratulations.</strong>
            You are done with this review session.
        </div>
    </div>
</div>


<div dojoType="dijit.Dialog" jsId="reviews_reviewDialog" id="reviews_reviewDialog" title="Flashcard Review">
	<script type="dojo/connect" event="onCancel" args="evt">
        reviews.endSession();
	</script>


    <div id="reviews_reviewOptions">
        <strong>Review Options</strong>
        <p>
            Cards due: <span id="reviews_cardsDueCount"></span><br>
            New cards: <span id="reviews_cardsNewCount"></span>
        </p>
        <hr>
        <p>
            <span style="color:gray">(study options under development)</span><br>
            New cards per day: ...<br>
            Session time limit: ...<br>
            Session card limit: ...
        </p>
        <div id="reviews_noCardsDue" style="display: none">
            <strong>No cards are due right now.</strong><br>
            Would you like to <u>review cards early</u>, or <u>learn new cards</u>?<br>
            <span style="color:gray">(early review still under development)</span>
        </div>
        <div id="reviews_beginReview">
            <button dojoType="dijit.form.Button" type="button">
                Begin Review
                <script type="dojo/method" event="onClick" args="evt">
                    //hide this options screen
                    //dojo.byId('reviews_reviewOptions').style.display = 'none';//({display: 'none'});

                    //TODO add a loading screen

                    //start a review session with the server
                    var session_def = reviews.startSession(20); //FIXME use the user-defined session limits

                    //wait for the first cards to be returned from the server
                    session_def.addCallback(function() {
                        //show the first card
                        next_card_def = reviews.nextCard();
                        next_card_def.addCallback(function(next_card) {

                            if (next_card) {
                                //hide this dialog and show the review screen
                                reviews_reviewDialog.hide();
                                reviews_ui.showReviewScreen();

                                //show the card
                                reviews_ui.displayCard(next_card);
                            } else {
                                //no cards are due
                                reviews_ui.showNoCardsDue();
                            }
                        });
                    });
                </script>
            </button>
        </div>
    </div>

</div>


{% comment %}
<button dojoType="dojox.form.BusyButton" jsId="reviews_openDialogButton" busyLabel="Loading...">
    Review Flashcards
	<script type="dojo/connect" event="onClick" args="evt">
        this.cancel();
        reviews_ui.openDialog();
	</script>
</button> Begin reviewing your flashcards.

<br>
<br>
<br>
{% endcomment %}
