


<div class="fullscreen" id="reviews_fullscreenContainer" style="display:none" dojoType="dijit.layout.ContentPane">
    <div class="fullscreen_toolbar">
        <div dojoType="dijit.form.Button" type="button">
            Exit Review
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.endSession();
            </script>
        </div>
        <div dojoType="dijit.form.Button" type="button">
            Edit Flashcard
            <script type="dojo/method" event="onClick" args="evt">
                reviews_ui.unsetKeyboardShortcuts();

                var success_callback = function(selected_fact_row_index, data, card_counter) {
                    fact_ui.hideFactEditForm();
                    var def = reviews.reload_current_card();
                    def.addCallback(function() {
                        reviews_ui.displayCard(reviews.current_card, reviews_ui.card_back_visible);
                        //if the fact editing grid is open, update it
                        if (typeof cards_factsGrid != 'undefined') {
                            var store = cards_factsGrid.store;
                            store.close();
                            store.fetch({onComplete: function(){
                                cards_factsGrid.sort();
                            }});
                        }
                    });
                    reviews_ui.setKeyboardShortcuts();
                };
                
                fact_ui.showFactEditForm(reviews.current_card.fact_id, success_callback);
            </script>
        </div>
    </div>
    <div class="fullscreen_content">
        <div id="reviews_reviewScreen">

            <div style="text-align: center">
                <div class="flashcard_container">
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardFront" id="reviews_cardFront"></div>
                </div>
                <hr>
                <div class="flashcard_container">
                    <div id="reviews_showCardBack" style="text-align: center;">
                        <button dojoType="dijit.form.Button" jsId="reviews_showCardBackButton" type="button">
                            <div style="width:300px; height:46px; line-height:46px">
                                Show Answer
                            </div>
                            <script type="dojo/connect" event="onClick" args="evt">
                                reviews_ui.showCardBack(reviews.current_card);
                            </script>
                        </button>
                        <div>
                            <span style="color:gray">(click or press [SPACE])</span>
                        </div>
                    </div>
                    <div style="font-size:32px; padding:20px;" dojoType="dijit.layout.ContentPane" jsId="reviews_cardBack" id="reviews_cardBack"></div>
                </div>
            </div>
            <div id="reviews_gradeButtons" style="margin-top:8px;">
                <table style="margin:0px auto;">
                <tr>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="true">
                    <span class="reviews_gradeButtonInner">
                        Wrong
                    </span>
                    <script type="dojo/connect" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_NONE);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="true">
                    <span class="reviews_gradeButtonInner">
                        Hard
                    </span>
                    <script type="dojo/connect" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_HARD);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="true">
                    <span class="reviews_gradeButtonInner">
                        Good
                    </span>
                    <script type="dojo/connect" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_GOOD);
                    </script>
                </button>
                </td>
                <td>
                <button dojoType="dijit.form.Button" type="button" disabled="true">
                    <span class="reviews_gradeButtonInner">
                        Too Easy
                    </span>
                    <script type="dojo/connect" event="onClick" args="evt">
                        reviews_ui.reviewCard(reviews.current_card, reviews.grades.GRADE_EASY);
                    </script>
                </button>
                </td>
                </tr>
                <tr>
                    <td id="reviews_gradeNoneInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeHardInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeGoodInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                    <td id="reviews_gradeEasyInterval" style="color:gray;font-size:10px;text-align:center;"></td>
                </tr>
                </table>
            </div>
        </div>

        <div id="reviews_reviewEndScreen" style="display: none">
            <strong>Congratulations.</strong>
            You are done with this review session.
        </div>
    </div>
</div>







<div dojoType="dojo.data.ItemFileReadStore" jsId="reviews_decksStore" 
    url="/flashcards/rest/decks_with_totals" clearOnClose="true">
</div>


<div dojoType="dijit.Dialog" jsId="reviews_reviewDialog" id="reviews_reviewDialog" title="Flashcard Review">
	<script type="dojo/connect" event="onCancel" args="evt">
        reviews.endSession();
	</script>
	<script type="dojo/connect" event="onLoad" args="evt">
        //FIXME this isn't working - do it programmatically
        //reviews_reviewDialog.refocus = true;
	</script>
	<script type="dojo/connect" event="onKeyPress" args="evt">
        //submit the dialog if user presses Enter
        var k = dojo.keys;
        switch(evt.charOrCode) {
            case k.ENTER:
                reviews_ui.submitReviewOptionsDialog();
                break;
        }
	</script>

    <div id="reviews_reviewOptions">
        <p style="display:none">
            Cards due: <span id="reviews_cardsDueCount"></span><br>
            New cards: <span id="reviews_cardsNewCount"></span>
        </p>
        
        <strong style="font-size:120%">Study Options</strong><br><br>
        <strong>Decks to review:</strong><br>
        <div dojoType="dojox.grid.DataGrid" store="reviews_decksStore" 
            clientSort="true" style="width: 450px;" autoHeight="6" jsId="reviews_decksGrid"
            selectionMode="single" rowSelector="false"  
            rowsPerPage="40" keepRows="200" structure="reviews_decksGridLayout"></div>
        <p>
            <span style="color:gray">(study options under development)</span><br>
            {% comment %}
            New cards per day: ...<br>
            Session time limit: ...<br>
            Session card limit: ...
            {% endcomment %}
        </p>
        <div id="reviews_noCardsDue" style="display: none">
            <strong>No cards are due right now.</strong><br>
            Would you like to <u>review cards early</u>, or <u>learn new cards</u>?<br>
            <span style="color:gray">(early review still under development)</span>
        </div>
        <div id="reviews_beginReview">
            <button dojoType="dijit.form.Button" type="button" jsId="reviews_beginReviewButton">
                Begin Review
                <script type="dojo/method" event="onClick" args="evt">
                    reviews_ui.submitReviewOptionsDialog();
                </script>
            </button>
        </div>
    </div>

</div>

