{% extends 'body_pane_base.html' %}

{% block content %}

<h1>Download Shared Deck</h1>

<div dojoType="dijit.form.Form" jsId="sharedDeckDownloadForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

        manabi_ui.xhrPost(
            '/flashcards/shared_decks/{{ shared_deck.id }}/download',
            dojo.byId('sharedDeckDownloadForm'),
            '{{ post_download_redirect }}');
	</script>

    <em>{{ shared_deck.name }}</em><br>
    Download this deck?<br>
    <button dojoType="dijit.form.Button" type="submit">
        Ok
    </button>
	<button dojoType="dijit.form.Button" jsId="sharedDeckDownloadCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
            manabi_ui.xhrLink('flashcards/shared_decks');
		</script>
	</button>
</div>
{% endblock %}
