

<div dojoType="dijit.form.Form" jsId="sharedDeckDownloadForm" id="sharedDeckDownloadForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

		var xhrArgs = {
			url: '/flashcards/shared_decks/{{ shared_deck.id }}/download',
			handleAs: 'text',
            load: function(data) {
              ajaxLink('{{ post_save_redirect }}', '{{ container_id }}');
            },
            error: function(error){
            	alert('Error: '+error);
            }
        }
		//Call the asynchronous xhrPost
        dojo.xhrPost(xhrArgs); //var deferred =
	</script>

    <em>{{ shared_deck.name }}</em><br>
    Download this deck?<br>
	<button dojoType="dijit.form.Button" type="submit">Ok</button>
	<button dojoType="dijit.form.Button" jsId="sharedDeckDownloadCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
			ajaxLink('/flashcards/shared_decks', '{{ container_id }}');
		</script>
	</button>
</div>

