{% load japanese %}

{% for subfact in subfacts %}
    <p>
        {% for field_content in subfact.field_contents %}
        {% if not field_content.has_identical_transliteration_field %}
            <strong><label>
                {% if field_content.field_type.reverse_transliteration_field_type %}
                    {{ field_content.field_type.reverse_transliteration_field_type.name }}:
                {% else %}
                    {{ field_content.field_type.name }}:
                {% endif %}
            </label></strong> {% furiganaize %}{{ field_content.content }}{% endfuriganaize %}<br>
        {% endif %}
        {% endfor %}
    </p>
{% endfor %}
