# {{ ansible_managed }}

[program:{{ name }}]

command={{ command }}
process_name={{ process_name }}
{% if directory is defined %}
directory={{ directory }}
{% endif %}
autostart={{ autostart }}
autorestart={{ autorestart }}
user={{ user }}
numprocs={{ numprocs }}
environment={% if 'USER' not in env_vars %}USER="{{ user }}",{% endif %}{% if 'HOME' not in env_vars %}HOME="/home/{{ user }}",{% endif %}{% for name, value in env_vars.iteritems() %}{{ name }}="{{ value }}",{% endfor %}
{% if stopsignal is defined %}
stopsignal={{ stopsignal }}
{% endif %}

redirect_stderr={{ redirect_stderr }}
{% if stdout_logfile is defined %}
stdout_logfile={{ stdout_logfile }}
{% else %}
stdout_logfile=/var/log/supervisor/{{ process_name }}_stdout.log
{% endif %}
{% if stderr_logfile is defined %}
stderr_logfile={{ stderr_logfile }}
{% else %}
stderr_logfile=/var/log/supervisor/{{ process_name }}_stderr.log
{% endif %}
