{% extends "site_base.html" %}

{% load i18n %}
{% load lazysignup_tags %}

{% block body_class %}account{% endblock %}


{% block subnav %}
    {% if user.is_authenticated and not user|is_lazy_user %}
        <ul>
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_timezone_change %}">{% trans "Timezone" %}</a></li>
        </ul>
    {% endif %}
{% endblock %}
