virtualenv/
junk/
dojo/
site-packages
site_media/
env/
apps/dojango/media/dojo
/run/
*.prc
*.swo
*.pyc
*.swp
*.swn
*.swm
*.svn
*.swl
*.swk
.svn
*svn-base
settings_production_secrets.py
settings_development_secrets.py
manabi_db_dump.gz
!apps/*/settings.py
pip-log.txt
dev.db
old_fabfile.py
workon_manabi.sh
reset_manabi_db.sh
*.bak
*.tar.gz
deploy
.DS_Store
