Django==1.6b4
South==0.8.2
Fabric==1.8.0
django-extensions==1.2.2
lxml==3.2.3
jcconv==0.2.3
gunicorn==18.0
redis==2.8.0
hiredis==0.1.1
pytz==2013d
django-allauth=0.13.0
django-nose=1.2
bpython

psycopg2
unidecode


https://github.com/kennethreitz/dj-static/archive/8c9f384a7a0eed48556bf7d85ae5f25f23845ebc.zip
https://github.com/aehlke/django-cachecow/archive/master.zip
https://github.com/aehlke/django-kanjivg/archive/master.zip
https://github.com/aehlke/django-snippetscream/archive/master.zip


# TODO: These should be used, but require some code work:
# django-lazysignup


# Used for migration to v2, but should be upgraded:
django-model-utils==0.5.0


# Deprecated, but used for migration to v2:
django-picklefield==0.3.0
django-timezones==0.2
BeautifulSoup==3.2.0
https://github.com/aehlke/django-catnap/archive/master.zip


# Not sure if used anymore?
rfc3339==5

