
@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('/site_media/static/fonts/Chunkfive-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/Chunkfive-webfont.woff') format('woff'), url('/site_media/static/fonts/Chunkfive-webfont.ttf') format('truetype'), url('/site_media/static/fonts/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('/site_media/static/fonts/League_Gothic-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/League_Gothic-webfont.woff') format('woff'), url('/site_media/static/fonts/League_Gothic-webfont.ttf') format('truetype'), url('/site_media/static/fonts/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelsinkiRegular';
	src: url('/site_media/static/fonts/helsinki-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/helsinki-webfont.woff') format('woff'), url('/site_media/static/fonts/helsinki-webfont.ttf') format('truetype'), url('/site_media/static/fonts/helsinki-webfont.svg#webfontX9mrBzWF') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ArvoRegular';
	src: url('/site_media/static/fonts/Arvo-Regular-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/Arvo-Regular-webfont.woff') format('woff'), url('/site_media/static/fonts/Arvo-Regular-webfont.ttf') format('truetype'), url('/site_media/static/fonts/Arvo-Regular-webfont.svg#webfontau9vOdrl') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArvoItalic';
	src: url('/site_media/static/fonts/Arvo-Italic-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/Arvo-Italic-webfont.woff') format('woff'), url('/site_media/static/fonts/Arvo-Italic-webfont.ttf') format('truetype'), url('/site_media/static/fonts/Arvo-Italic-webfont.svg#webfontvBl98OZ1') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ArvoRegular';
	src: url('/site_media/static/fonts/Arvo-Bold-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/Arvo-Bold-webfont.woff') format('woff'), url('/site_media/static/fonts/Arvo-Bold-webfont.ttf') format('truetype'), url('/site_media/static/fonts/Arvo-Bold-webfont.svg#webfontxi5Flt4Z') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ArvoItalic';
	src: url('/site_media/static/fonts/Arvo-BoldItalic-webfont.eot');
	src: local('☺'), url('/site_media/static/fonts/Arvo-BoldItalic-webfont.woff') format('woff'), url('/site_media/static/fonts/Arvo-BoldItalic-webfont.ttf') format('truetype'), url('/site_media/static/fonts/Arvo-BoldItalic-webfont.svg#webfontThKCEgOx') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AdelleBasicBold';
	src: url('/site_media/static/fonts/AdelleBasic_Bold.otf');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'HiraginoKakuGothicStdW8';
	src: url('/site_media/static/fonts/HiraginoKakuGothicStdW8.otf');
	font-weight: normal;
	font-style: normal;
}


body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    /*background-color: #003344;*/
    background-color: white;
}


/*.sidebar {
    float: right;
    margin: 0px;
    padding: 10px 5px;
    overflow: hidden;
    width: 300px;
    position: fixed;
    right: 0px;
}*/

#tabhead {
    background-color: #f0f0f0;
}

#site_title, #site_title_left, #site_title_right {
    background-color: #003344;
}
#site_title {
    /*font-size: 3em;*/
    font-size: 3.5em;
    /*font-family: 'ArvoRegular';*/
    font-family: 'ChunkFiveRegular';
    font-weight: bold;
    /*position: relative;*/
    text-decoration: none;
    /*text-shadow: -1px -1px 0px #101010, 1px 1px 0px #666;*/
    /*padding-top:  .1em;*/
    /*-moz-border-radius-bottomleft: 10px;*/
    /*-webkit-border-bottom-left-radius: 10px;*/
    /*-moz-border-radius-bottomright: 10px;*/
    /*-webkit-border-bottom-right-radius: 10px;*/
    /*-webkit-border-radius: 36px 12px;*/
    /*-moz-border-radius: 36px 12px;*/
    float: left;
    position: relative;
    /*left: -15px;*/
    z-index: 20;
    padding-left: 45px;
    /*padding-right: 15px;*/
    padding-right: 45px;
    /*padding-right: 90px;*/
    /*width: 400px;*/
    margin-bottom: 8px;
    /*display: table;*/
    overflow: hidden;
}
#site_title a {
    /*margin-top: .1em;*/
    margin: auto 0;
    width: 300px;
    display: block;
    position: relative;
    top: .1em;
    /*display: table-cell;*/
    vertical-align: middle;
}
#site_title .hover {
    display: none;
    letter-spacing: .5em;
}
#site_title a:hover .no_hover {
    display: none;
}
#site_title a:hover .hover {
    display: inline;
}
#site_title, #site_title_left, #site_title_right {
    /*height: 90px;*/
    height: 70px;
}
#site_title_left, #site_title_right {
    float: left;
    width: 35px;
    position: relative;
    z-index: 10;
}
#site_title_left {
    display:none;
/*    margin-left: 5px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);*/
}
#site_title_right {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    left: -20px;
    margin-right: 30px;
    width: 50px;
}
#site_logo {
    font-family: 'HiraginoKakuGothicStdW8';
    /*font-size: 1.2em;*/
    text-decoration: none;
    /*padding-top:  .1em;*/
    /*padding-left: .2em;*/
    margin-right: .45em;
    color: #C81010;
    /*text-shadow: -1px -1px 0px #101010, 1px 1px 0px #666;*/

}

#column_wrap {
    background-color: #f0f0f0;
    /*background-color: white;*/
}

.sidebar_box {
    padding-bottom: 15px;
}

.sidebar_box_header {
    background-color: gray;
    -webkit-border-top-left-radius: 10px 10px;
    -webkit-border-top-right-radius: 10px 10px;
    -moz-border-radius-topleft: 10px 10px;
    -moz-border-radius-topright: 10px 10px;
    -webkit-box-shadow: 0px 3px 5px #adadad;
    text-align:center;
    padding: 2px 0px 2px 0px;
}

.sidebar_box_title {
    font-size: 14px;
    color: white;
}

.sidebar_box_contents {
    color: #292929;
    /* color: #424242; */
    /* text-align: left; */
    border: 1px solid #BABABA;
    padding: 6px 15px;
    background-color: white;
    -o-border-radius: 10px;
    /*-moz-border-radius: 12px;*/
    /*-webkit-border-radius: 10px;*/
    -webkit-border-bottom-left-radius: 10px 10px;
    -webkit-border-bottom-right-radius: 10px 10px;
    -moz-border-radius-bottomleft: 10px 10px;
    -moz-border-radius-bottomright: 10px 10px;
    -webkit-box-shadow: 0px 3px 5px #adadad;
    -moz-box-shadow: 0px 3px 5px #adadad;
    /* -opera-border-radius: 10px; */
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    border-top:0px;
}

#body_contents, #footer {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 15px;
}

#body_contents {
    /*margin-right: 330px;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: white;
    line-height: 1.6em;
}
#body {
    width: 100%;
    padding: 0px;
    overflow: hidden;
}
#body_left, #body_right {
    position: fixed;
    background-color: #f0f0f0;
    width: 30px;
    top: 78px;
    bottom: 0;
}
#body_left {
    left: 0;
}
#body_right {
    right: 0;
}
#footer {
    /*color: #36606D; [> footer text colour <]*/
    color: #ccc;
    font-size: .9em;
    /*color: lightgray;*/
    /*background-color: #003344;
    background-color: #f0f0f0;*/
    /*margin: 50px auto;*/
    /*padding: 10px;*/
    clear: both;
    /*width: 800px;*/
}
#footer a, #footer a:visited {
    /*color: #36606d;*/
    color: #ccc;
}
#footer a:hover {
    color: #555;
}

#body_contents h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}



div.fullscreen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

div.fullscreen_toolbar {
/*    display: block;
    position: absolute;
    top: 0;
    /*left: 0;*/
    background-color: lightgray;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 3px;
}

div.fullscreen_content {
    -moz-box-shadow: 0px 10px 10px -10px inset;
    -webkit-box-shadow: 0px 10px 10px -10px inset;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


div.flashcard_container {
/*    -moz-border-radius: 12px;
    -webkit-border-radius: 10px;
    border: 1px solid #BABABA;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    -opera-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;

    width: 70%;*/
}

div#reviews_gradeButtons {
    text-align:center;
}

div.reviews_gradeButton {
    /*float:left;*/
    display: inline-block;
    text-align:center;
    margin: 0px 2px;
}

span.reviews_gradeButtonInterval {
    color:gray;
    font-size:.8em;
    position:relative;
    top:-.2em;
    text-align:center;
}


.reviews_incorrectGradeButtons, .reviews_correctGradeButtons {
    display:inline-block;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

div.reviews_incorrectGradeButtons {
    background-color:#FBEFEF;
}

div.reviews_correctGradeButtons {
    background-color:#E0F8E0;
}

#reviews_showCardBack {
    padding-top: 20px;
}

.reviews_gradeButtonInner {
    line-height: 2.3em;
    /*height: 28px;*/
    width: 4.25em;
    font-size:1.1em%;
    display: block;
}

/* looks like a link, but isn't */
.fakeLink {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.field_content_error {
    color: red;
    font-style: italic;
}

.reviews_front_prompt {
    color: gray;
    font-size: 50%;
    margin-bottom:0px;
}
.reviews_back_prompt {
    color: gray;
    font-size: 50%;
    margin-bottom:0px;
}


.suspended_grid_row {
    text-decoration: line-through;
}

/* furigana */
/**************************************************************************************************************
 *
 * [Easy-Ruby CSS v2.1]
 *
 * Example    : <span class="ezRuby" title="[ruby text]"> [ruby base] </span> 
 *
 * CSS Author : BENIT
 *
 * OS : Windows Vista, XP, Mac OS X 10.5.7
 *
 * Browser : Windows  > Internet Explorer8
 *           Windows  > Firefox3.0, 3.5_beta4
 *           Windows  > Opera9.6, 10_beta
 *           Windows  > Safari3.2.3, 4_beta
 *           Mac OS X > Safari4_beta
 *           Mac OS X > Firefox3.0
 *           Mac OS X > Opera9.6, 10_beta
 *
 *           Not support [Windows  > IE6/7]
 * 
 * Last Updata > 2009-06/04
 *
 ***************************************************************************************************************/
 
/* IE6,7 */
.ezRuby{
  border-bottom: 1px dotted #666666;
  /*cursor: help;*/
}

/* Ruby Base */
html>/* */body .ezRuby {
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

/* Ruby Text */
html>/* */body .ezRuby:before {
  font-size: 0.64em;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  content: attr(title);
}


/* Adapt to your site's CSS */
html>/* */body .ezRuby:hover{
  /*color: #000000;*/
  background-color: #FFFFCC;
}

html>/* */body .ezRuby:hover:before{
  background-color: #FFEDCD;
}






