
/* Buttons */
.tundra .dijitButton .dijitButtonNode {
	/*background:#d1d1d1 url(images/button-bg.png) repeat-x 0 0;*/
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3 #aaaaaa #888 #aaaaaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
	box-shadow:0 1px 2px #ddd;
	text-shadow:0 1px 0 #fff;
	color:#222;
}

.tundra .dijitButton .dijitButtonNode:hover {
    -moz-box-shadow:0 0 2px #3daee6;
    -webkit-box-shadow:0 0 2px #3daee6;
    box-shadow:0 0 2px #3daee6;
    border-color: #3daee6;
}

.tundra .dijitButtonNode:active {
    background: #ddd;
}


