<div class="card_preview">

    <div class="front_side">
        <div class="table_container">
            <div class="vertical_container">
                <div dojoAttachPoint="frontNode"></div>
            </div>
        </div>
    </div>
    <span dojoAttachPoint="frontPromptNode" class="front_prompt"></span>
    <hr>
    <div class="back_side">
        <div class="table_container">
            <div class="vertical_container">
                <div dojoAttachPoint="backNode"></div>
            </div>
        </div>
    </div>

</div>

