/* Reset */
/* by Eric Meyer v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Adapted from base.css from YUI's CSS Foundation */
body {
    line-height: 1.2;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;  
    font-size: 1.1em;
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	/*border:1px solid #000;*/
    border: none;
	padding:.5em;
    vertical-align: top;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table {
	/*so things don't run into each other*/
	margin-bottom:1em;
}
 
label {
    vertical-align: top;
}


/* GENERAL */

/*html, body {
    height: 100%;
}*/
/*body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: white;
}*/

body {
    background-color: white;
    /*margin: 0;*/
    color: #333;
    font-family: Myriad, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Arial, sans-serif;/*Arial, sans-serif;*/
    font-size: 85%;
    /*line-height: 1.3em;*/
}
a, a:visited {
    color: #13c;
}
dt {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


#body {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}


/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */


/* HEADER */

#tabhead {
/*    background: #003344 #035 url('../images/heading.png') left top
 *    repeat-x;*/
    /*background-color: #003344;*/
    /*background-color: #36606D;*/
    /*border-bottom: 1px solid #000;*/ /* tab border */
    /*position: relative;*/
    /*padding: 4px 0px;*/
}
#tabhead .logo {
    /*height: 80px;*/
    /*padding-left: 5px;*/
    /*padding-top: 0;*/
}
#tabhead .logo img {
    /*width: 190px;*/
    /*height: 79px;*/
}
#tabhead .login {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #DEF; /* login bar text colour */
}
#tabhead .login a, #tabhead .login a:visited {
    color: #DEF; /* login bar link colour */
}
#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

#locale_switcher {
    display: inline;
}
#nav_container {
    background-color: white;
}
#nav {
    margin: 0;
    padding: 0;
    background-color: #36606D;
    border-bottom: solid 4px #f0f0f0;
    /*height: 50px;*/
    /*background-color: #36606d; [>#DEF; /* tab colour */
    /*border-bottom: 0px solid #003344;*/
    /*height: 88px;*/
}
#nav ul {
    margin: 0;
    padding: 0;
    /*padding-top: 1em;*/
}
#nav li {
    /* make it look like a tab */
    position: relative;
    top:    31px;
    background-color: gray;
    opacity: .7;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, #aaa),
        color-stop(0.55, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(128,128,128) 10%,
        rgb(255,255,255) 55%
    );
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;


    display: inline;
    float: left;
    list-style-type: none;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 7px;
}
#nav li {
    -webkit-transition: opacity 80ms; 
    -moz-transition: opacity 80ms;
    transition: opacity 80ms;
}
#nav li.active {
    background-color: white;
    background-image: none;
    opacity: 1;
    border-top:   solid 4px #f0f0f0;
    border-left:  solid 4px #f0f0f0;
    border-right: solid 4px #f0f0f0;
}
#nav li.active a:link, #nav li.active a:visited {
    position: relative;
    top: -4px;
    padding-left: 16px;
    padding-right: 16px;
}
#nav li:hover:not(.active) {
    opacity: .9;
}
#nav li img {
    display: none;
    margin: 0 auto;
    opacity: .6;
}
#nav li a {
    display: block;
    padding-top: 9px;
    height: 38px;
}
#nav li a:hover img {
    opacity: 1;
}
#nav li a:link, #nav li a:visited {
    display: block;
    text-align: center;
    /*font-size: 1.55em;*/
    text-decoration: none;
    /*color: #FFF;*/
    color: black;
    /*text-shadow: -1px -1px 0px #213b43, 1px 1px 0px #839ca4*/;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #46707d;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#nav ul a:hover {
    /*color: #FFF;*/
    /*background: #9BC;*/
}

#subnav_container {
    background-color: white;
}
#subnav {
    margin: 0;
    padding: 0;
}
#subnav ul {
    margin: 0;
    padding 0;
    padding-top: 1em;
    padding-bottom: .5em;
    /*padding-top: 1em;*/
}
#subnav li {
    display: inline;
    float: left;
    list-style-type: none;
}
#subnav li:after {
     content: '|';
     margin: 0 1em;
}
#subnav li:last-of-type:after {
    content: '';
}

/* FORMS */

form th {
    text-align : left;
}
form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="text"].dijitTextBox, textarea {
    padding: .405em; /*3px;*/
    margin: 3px;
    /*border: solid 1px #C6C6C6;*/
    /*border-bottom: solid 1px #E3E3E3;*/
    /*color: #666;*/
    /*font-size: 12pt;*/
    /*background: #F3F3F3 url('../images/form-shadow.png') left top repeat-x;*/
}
ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


/* MESSAGES */

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}


/* WHAT NEXT */

dl.what_next {
    margin: 2em;
}
dl.what_next dt {
    font-size: 120%;
}
dl.what_next dd {
    margin: 0 0 1em 0;
    font-style: italic;
}
p.what_next {
    font-size: 120%;
}


/* FORM TOGGLE */

.form-toggle p {
    margin-bottom: 2px;
}

.form-toggle p span {
    background: #DEF;
    padding: 3px 6px;
    border-top: 1px solid #9BC;
    border-left: 1px solid #9BC;
    border-right: 1px solid #9BC;
    cursor: pointer;
}

.form-toggle form {
    padding: 3px 6px;
    margin: 0;
    background: #DEF;
    border: 1px solid #9BC;
}



/* EXTRAS TO CLEAN UP */

.warning {
    color: red;
    font-weight: bold;
}

div.profile_info p {
    margin: 0;
}
div.left_panel {
    width: 550px;
}
div.right_panel {
    margin-top: 20px;
    width: 200px;
    float: right;
    z-index: 999;
}


