
.cards_form_container {
    height: 12.4em;
}
.card_template_container {
    width: 9.5em;
    /*border:solid 1px #ddd;*/
    float: left;
    margin-right: .2em;
    text-align: center;
}
.card_template_container input, .card_template_container label {
}
/*.dijitCheckBox:not(.dijitChecked) + label + .card_preview {*/
.card_preview:not(.on) {
    opacity: .7;
    border: 2px dotted #ccc;
    background-color: #fafafa;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.card_preview .weak {
    opacity: .7;
    font-size: 1em;
}
.card_preview .meaning .weak {
    font-size: 1.25em;
}
.card_preview {
    display: inline-block;
    /*height: 6.65em;*/
    height: 8.5em;
    width: 8.3em;
    margin-top: .3em;
    padding: .4em;

    cursor: pointer;

    background-color: #f7f7f7;
    border: 2px solid #ddd;

    box-shadow: 0px 1px 2px #333333;
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #777;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.card_preview hr {
    height: 2px;
    margin: 2px;
}
.card_preview .meaning, .card_preview .expression, .card_preview .reading {
    display: block;
}
.card_preview .meaning {
    font-size: .8em;
}
.card_preview .front_prompt {
    display: block;
    font-size: .6em;
    color: #777;
    height: 2.3em;
    line-height: 1.1em;
}
.card_preview .table_container {
    display: table;
}
.card_preview .table_container, .card_preview .back_side {
    width: 8em;
    height:3em;
}
.card_preview .front_side, .card_preview .front_side .table_container {
    height: 3.4em;
}
.card_preview .front_side, .card_preview .back_side {
    /*position: relative;*/
    overflow: hidden;
    /*border: solid 1px #ff7777;*/
    /*vertical-align: middle;*/
}
.card_preview .front_side {
}
.card_preview .vertical_container {
    display: table-cell;
    vertical-align: middle;
    /*position: absolute;*/
    /*top: 50%;*/
}
.card_preview .front_side > div, .card_preview .back_side > div{
    /*position: absolute; top: 50%; */
    /*position: relative;*/
    /*top: -50%;*/
}
