@font-face {
	font-family: 'HiraginoKakuGothicStdW8';
	src: url('/site_media/static/fonts/HiraginoKakuGothicStdW8.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fontin';
	src: url('/site_media/static/fonts/Fontin-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fontin';
	src: url('/site_media/static/fonts/Fontin-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}



.weak {
    color: #999;
}
.weak a, a.weak {
    color: #555E8D;
}
.weak a:hover, a.weak:hover {
    color: #13c;
}
a.weak.subtext, .weak.subtext a {
    color: #999;
}
.subtext {
    font-size: .8em;
}
.hidden {
    display: none;
}
.info_box {
    background-color: #FDF7EB;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: .5em 1em;
    margin: 1em 0;
}
.box_shadow {
    -moz-box-shadow: 5px 5px 8px #888;
    -webkit-box-shadow: 5px 5px 8px #888;
    box-shadow: 0px 4px 4px #888;
}
hr {
    border: none;
    background-color: lightgray;
    height: 3px;
    margin: 1em 0;
}
#body_contents a.definition {
    text-decoration: none;
    color: #333;
    border-bottom: 1px dotted #333;
}
#body_contents a.definition:hover {
    border-bottom: 1px solid #333;
}

.horizontal_list {
    display: inline;
}
.horizontal_list li {
    display: inline;
}
.dijitCheckBox + label {
    position: relative;
    top: .1em;
}

#siteLoader { 
	padding: 0;
	margin: 0;
	position: absolute; 
	top: 0; left: 0; 
    width: 100%;
    height: 100%; 
	background: #efefef;
	opacity: 0.97; 
	z-index: 999;
	vertical-align: middle;
}
#siteLoaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url('/site_media/static/images/loader_lg.gif');
	background-repeat: no-repeat;
}

.bodyPaneLoader { 
}
.bodyPaneLoaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: 25px; /* (82 / 2) - 16 */
	margin-left: -16px;
	background-image: url('/site_media/static/images/loader_lg.gif');
	background-repeat: no-repeat;
}


#column_wrap {
    background-color: #f0f0f0;
}

.sidebar_box {
    padding-bottom: 15px;
}


#body_contents_container, #footer {
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 25px;
}

#body_contents_container {
    background-color: white;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}
#body_contents {
    padding-top: 35px;
    padding-bottom: 50px;
    line-height: 1.6em;
}
.inner_body_contents:not(.wide) > *:not(.wide):not(hr) {
    max-width: 57.2em;
}
.full_width {
    width: 57.2em;
}
#body {
    width: 100%;
    padding: 0px;
    overflow: hidden;
}
#body_left, #body_right {
    position: fixed;
    background-color: #f0f0f0;
    width: 30px;
    top: 78px;
    bottom: 0;
}
#body_left {
    left: 0;
}
#body_right {
    right: 0;
}
#footer {
    font-size: .9em;
    color: #bbb;
    clear: both;
    margin-bottom: 1.5em;
}
#footer .sub_legal, #footer .sub_legal a, #footer .sub_legal a:visited {
    color: #ccc;
    font-size: .9em;
}
#footer a, #footer a:visited {
    color: #ccc;
}
#footer a:hover {
    color: #555;
}
#footer img {
    border-width: 0;
    opacity: .2;
    position: relative;
    top: .25em;
}
#footer a img:hover {
    opacity: .6;
}

#body_contents h1:first-of-type, #body_contents h2:first-of-type, #body_contents h3:first-of-type, .dijitDialog h1:first-of-type, .dijitDialog h2:first-of-type {
    margin-top: 0px;
}

.home #manabi_project_links {
    margin-left: 2.5em;
    list-style: none;
}
.home #manabi_project_links ul {
    margin: 2.5em 0;
}
.home #manabi_project_links li {
    margin-bottom: 1.1em;
    font-size: 1.1em;
    list-style: none;
    font-weight: bold;
}

div.fullscreen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    background-color: #f2f2f2;
    background-image: url(/site_media/static/images/f8f8f8_noise.png);
}

.fullscreen_toolbar {
    background-color: #ccc; /*#7f96a6;*/ /*lightgray*/;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 3px;
    -moz-box-shadow: -10px -21px 7px 20px;
    -webkit-box-shadow: -10px -21px 7px 20px black;
    opacity: .6;
    -webkit-transition: opacity 300ms ease-in; 
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
}
[class=fullscreen_toolbar]:hover { /* firefox bugs out unless we select like this */
    opacity: 1;
    -webkit-transition: opacity 60ms ease-out;
    -moz-transition: opacity 60ms ease-out;
    transition: opacity 60ms ease-out;
}

div.fullscreen_content { }

.fullscreen hr {
    display:none;
}


.flashcard_container.flashcard_front {
    background: -webkit-gradient(radial, 50% bottom, 1, 50% bottom, 250, from(rgba(91, 91, 91, .1)), to(rgba(242, 242, 242, .1)));
    background: -moz-radial-gradient(50% 200% 1deg, circle closest-corner, rgba(91, 91, 91, .1) 9%, rgba(242, 242, 242, .1) 100%);
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 1em;
}


.flashcard_container {
    margin: 0px auto;
    text-align: center;
}

.flashcard_content .table_container {
    display: table;
    table-layout: fixed;
    height: 17.5em;
    width: 100%;
}
.flashcard_content .vertical_container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 4em;
}
.flashcard_content_container .ezRuby:before {
    font-size: 0.44em;
    line-height: 1.2;
    color: gray;
}
.flashcard_container .half_floater {
}
.flashcard_content_container {
    font-size: 1em;
}
.flashcard_content .meaning {
    font-size: 2em;
    display: block;
    margin: .4em 0;
}
.flashcard_content .expression, .flashcard_content .reading {
    font-size: 4em;
    display: block;
    color: black;
}
.flashcard_content .expression:hover, .flashcard_content .reading:hover {
	font-family: 'HiraMinPro-W3', 'Hiragino Mincho Pro W3', 'ヒラギノ明朝 Pro W3', 'MS PMincho', serif;
    /*line-height: 1.18em; [> these are a bit shorter <]*/
}
.flashcard_container .jdic_audio_player {
    /*margin: 40px auto;*/
    display: block;
    position: absolute;
    /*top: -3px;*/
    /*right: 26em;*/
    top: 3.5em;
    left: 1em;
}
.flashcard_container .kanji_stroke_frames_container {
    width: 70%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 100px;
    margin: 2em auto;
}
.flashcard_container .kanji_stroke_frames {
    cursor: move;
    padding-bottom: 2px;
    background-color: #fafafa;
}
.reviews_front_prompt {
    color: gray;
    font-size: 1.3em;
    margin-bottom: 0;
}
.reviews_back_prompt {
    color: gray;
    font-size: 50%;
    margin-bottom:0px;
}
div#reviews_gradeButtons {
    text-align:center;
}

div.reviews_gradeButton {
    /*float:left;*/
    display: inline-block;
    text-align:center;
    margin: 0px 2px;
}

span.reviews_gradeButtonInterval {
    color: gray;
    font-size:.8em;
    position:relative;
    top: -1px;
    text-align:center;
}


.reviews_incorrectGradeButtons, .reviews_correctGradeButtons {
    display:inline-block;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*border: 3px solid #fbfbfb;*/
}

div.reviews_incorrectGradeButtons {
    background-color:#edd0d0;
    /*background-color:#ae5b61;*/
}

div.reviews_correctGradeButtons {
    background-color:#c4f5bf;
    /*background-color:#edffed;*/
}

#reviews_showCardBack {
    padding-top: 18em;
    /*position: relative;*/
}

.reviews_gradeButtonInner {
    line-height: 2.3em;
    /*height: 28px;*/
    width: 4.25em;
    font-size:1.1em%;
    display: block;
}


/* Zoom out the review screen a little for smaller displays. */
@media only screen and (max-height: 730px) {
    .flashcard_content {
        /*zoom: .6;*/
        font-size: .9em;
    }
    .reviews_front_prompt, .reviews_back_prompt {
        font-size: 1.1em;
    }
}

.card_stats table {
    border: none;
}
.card_stats td {
    border: none;
}
.card_stats tr td:first-of-type {
    text-align: right;
    font-weight: bold;
}
.mini_stats_title, .mini_stats_container {
}
.mini_stats_container {
    border: 1px solid #ddd;
    padding: .5em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
}
.mini_stats_title {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    background-color: #999;
    color: white;
    padding: 0 .5em;
    margin-bottom: 1em;
}
.mini_stats_container > div:not(.mini_stats_title) {
    margin-top: 1em;
    padding: 0 .3em;
}


.study_button_pretext {
    display: block;
}
.study_buttons .dijitButton {
    float: left;
}
.study_button_meaning {
    float: left;
    margin-left: 1em;
    padding-top: .9em;
}
.study_button_stats {
    font-size: .8em;
    color: #888;
}
.study_buttons:after {
    clear: both;
}
.study_now {
/*style="float:left; margin-right:.5em;margin-top:-.7em"*/
}
.none_due_yet {
    display: inline-block;
    margin-bottom: .5em;
}
.overview_stats {
    width: 16em;
    overflow-x: hidden;
}
.overview_stat_counts {
    display: inline-block;
    text-align: center;
    /*margin: .5em 0 2em 0;*/
    margin: 0;
    position: relative;
    left: -.9em;
    width: 17em;
}
.overview_stat_counts li {
    display: inline-block;
    width: 4em;
}
.overview_stat_counts .stat {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.overview_stat_counts .stat_name {
    display: block;
    font-size: .8em;
    position: relative;
    top: -.3em;
}

div.column, p.column {
    float: left;
    display: block;
}



.add_decks .column {
    width: 29%;
    text-align: center;
    padding: 1em 1em 9999em 1em;
    margin-bottom: -9999em;
    min-height: 30em;
}
.add_decks .column .column_description {
    height: 3em;
}
.add_decks ul.deck_list {
    margin-top: 1.5em;
}
.column.shared_decks {
    border-right: solid 3px lightgray;
}
.column.create_cards {
    border-left: solid 3px lightgray;
}
.column.shared_decks ul.deck_list {
    margin-top: 1em;
}
.add_decks .icon {
    display: block;
    margin: 0em auto 1em auto;
}
.add_decks .create_deck.column {
    padding: 1em;
    margin-bottom: 0;
}
.add_decks .create_deck:hover {
    cursor: pointer;
}
.add_decks .find_textbook_link {
    margin-top: 1em;
    font-size: .9em;
    padding: .5em;
}
.add_decks .find_textbook_link img {
    vertical-align: bottom;
}
ul.shared_decks {
    text-align: left;
}

.clickable_contents:hover {
    background-color: #F2F8FF;
}

ul.deck_list {
    margin: 0;
    padding: 0;
    max-width: 40em;
}
.deck_list .deck_name {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2em;
    position: relative;
    top: .25em;
}
.deck_list li .inner_container {
    /*padding: 0 1em;*/
    padding: 0 .5em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.deck_list .mini_stats {
    color: gray;
    font-size: .8em;
    position: relative;
    /*top: -.25em;*/
}
.deck_list li {
    list-style: none;
}
.deck_list li.even {
    /*background-color: #f0f0f0;*/
}
ul.divided li, div.divided {
    border-bottom: 1px solid #ddd;
}
.deck_list .suspend_deck {
    float: right;
    margin-top: .7em;
    margin-right: .7em;
}
.deck_list .suspend_deck .dijitButtonContents {
    width: 5em;
}
.deck_list li.suspended {
    /*background-color:blue;*/
    background-image: url(/site_media/static/images/disabled_bg_pattern.png);
}
.deck_list li.suspended a {
    color: gray;
}

.manage_decks .deck_list .deck_name {
    margin-right: 10em;
}

.fact_form_container {
    width: 39.1em;
}
.fact_form_container label {
    /*vertical-align: top;*/
}
.fact_form_container .tags_container label {
    position: relative;
    top: .5em;
}
.fact_form_container form {
    margin-bottom: 0;
}
.fact_form_container label {
    font-weight: bold;
}
.fact_form_container .required {
    font-size: .8em;
    color: gray;
}
.fact_form_container .field:first-of-type {
    margin-top: 0;
}
.fact_form_container .field {
    margin: .5em 0;
}
.fact_form_container .field_content_error {
    display: inline;
    font-size: 1em;
}
.fact_form_container .field .dijitTextBox {
    font-size: 1.6em;
    line-height: 1.2em;
    margin-top: .2em;
    margin-bottom: .2em;
    padding: .2em;
    width: 98%;
}
.fact_form_container .field .refresh {
    position: relative;
    /*top: 3px;*/
    top: 1px;
    margin-left: 4px;
}
.fact_form_container .subfact .field {
    margin: .1em 0;
}
.fact_form_container .subfact .field .dijitTextBox {
    font-size: 1em;
}
.fact_form_container .cards_form_container {
    margin-top: 1em;
    display: block;
}
.fact_form_container .card_templates label {
    font-weight: normal;
}
.fact_form_container .cards_form_container .card_templates {
    margin: .4em 0;
}

.fact_form_container .ui-autocomplete .ui-menu-item a {
    color: #333;
}
.fact_form_container ul.tagit input[type="text"] {
    font-size: 1em;
}
.fact_form_container .fakeLink {
    color: gray;
}
.fact_form_container .fakeLink:hover {
    color: #333;
}
.fact_form_container .dijitDialogPaneActionBar .dijitContentPane {
    overflow: hidden;
}
ul.fact_form_tags {
    margin: 0;
    display: inline-block;
    width: 30em;
}

ul.book_list {
    margin: 3em 0;
}
ul.book_list li {
    list-style: none;
    padding-top: .5em;
}
.book_container {
    position: relative;
    padding-bottom: 1em;
    z-index: 1;
}
.book_info {
    position: absolute;
    bottom: 1em;
    margin-right: 1em;
    margin-left: 11.5em;
    float: left;
}
.book_title {
    font-size: 1.15em;
}
.book_author {
    font-size: .9em;
}
.book_list .book_deck_count {
    margin-top: 1em;
}
.book_image_container {
    position: relative;
    margin: .5em 0 0 1.5em;
    float: left;
}
.book_image_container img + .vignette {
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 7px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 7px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 7px rgba(0, 0, 0, 0.1) inset;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
.book_image_container:before {
    top: 50%;
    bottom: 1px;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.book_image_container:before, .book_list .book_image_container:after {
    content: '';
    position: absolute;
    z-index: -2;
}
.book_image_container img {
    display: block;
    position: relative;
}
.book_list .book_deck_count {
    font-size: 1.1em;
    font-weight: bold;
}
.book_container + .deck_list {
    margin-top: 2em;
}


/* home.html and lazy signup notice-related stuff */
.aux_info_box {
    background-color: #fafafa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow:inset 0 2px 4px #999;
    /*border: 1px solid #ababab;*/
    padding: .8em;
    margin-bottom: 2em;
}
#lazy_user_landing_box .column.new_user {
    border-left: solid 8px #d21f00;
    margin-right: 2em;
}
#lazy_user_landing_box .column.login_link {
    border-left: solid 8px lightgray;
}
#lazy_user_landing_box .column, #lazy_user_landing_box {
    height: 9.5em;
}
#lazy_user_landing_box .column {
    padding-left: 1.5em;
}
#lazy_user_landing_box h3 {
    margin-bottom: .5em;
}
#lazy_user_landing_box .new_user {
    width: 37em;
}
#lazy_user_landing_box .login_link {
    width: 12em;
}
#lazy_user_landing_box .eyecatching_action_button {
    margin: 1em 0;
}
.eyecatching_action_button {
    display: inline-block;
    background-color: #ff7b00;
    color: white;
    font-weight: bold;
    margin: .5em 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    /*-moz-box-shadow: 5px 5px 8px #888;*/
    /*-webkit-box-shadow: 5px 5px 8px #888;*/
}
.eyecatching_action_button:hover {
    /*box-shadow: 2px 2px 0px #777;*/
    background-color: #ff9800;
}
.eyecatching_action_button a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .4em 1em;
}
.user_message_box {
    border: 1px dashed #ccc;
    margin-bottom: 1.5em;
    padding: 0 .3em;
    color: gray;
    background-color: 
}
.lazy_user_warning {
    background-color: #fffbb1;
}

/*.reviews_session_over_dialog .chart {
}*/


/* looks like a link, but isn't */
.fakeLink {
    text-decoration: underline;
    color: #13c;
    cursor: pointer;
}
.weak .fakeLink, .weak.fakeLink {
    color: #555E8D;
}

.field_content_error {
    color: red;
    font-style: italic;
}



.suspended_grid_row {
    /*text-decoration: line-through;*/
    color: #bbb;
}

/* furigana */
/**************************************************************************************************************
 *
 * [Easy-Ruby CSS v2.1]
 *
 * Example    : <span class="ezRuby" title="[ruby text]"> [ruby base] </span> 
 *
 * CSS Author : BENIT
 *
 * OS : Windows Vista, XP, Mac OS X 10.5.7
 *
 * Browser : Windows  > Internet Explorer8
 *           Windows  > Firefox3.0, 3.5_beta4
 *           Windows  > Opera9.6, 10_beta
 *           Windows  > Safari3.2.3, 4_beta
 *           Mac OS X > Safari4_beta
 *           Mac OS X > Firefox3.0
 *           Mac OS X > Opera9.6, 10_beta
 *
 *           Not support [Windows  > IE6/7]
 * 
 * Last Updata > 2009-06/04
 *
 ***************************************************************************************************************/
 
/* IE6,7 */
.ezRuby{
  border-bottom: 1px dotted #666666;
  /*cursor: help;*/
}

/* Ruby Base */
html>/* */body .ezRuby {
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

/* Ruby Text */
html>/* */body .ezRuby:before {
  font-size: 0.64em;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  content: attr(title);
}


/* Adapt to your site's CSS */
html>/* */body .ezRuby:hover{
  /*color: #000000;*/
  background-color: #FFFFCC;
}

html>/* */body .ezRuby:hover:before{
  background-color: #FFEDCD;
}








