
<div class="overview_stats">
    <ul class="horizontal_list overview_stat_counts">

        <li>
            <span class="stat">{{ total }}</span>
            <span class="stat_name">Total</span>
        </li>
        <li>
            <span class="stat">{{ new }}</span>
            <span class="stat_name">New</span>
        </li>
        <li>
            <span class="stat">{{ young }}</span>
            <span class="stat_name">Started</span>
        </li>
        <li>
            <span class="stat">{{ mature }}</span>
            <span class="stat_name">Proficient</span>
        </li>

    </ul>
</div>
