
<div class="jdic_audio_player">
    <script type="text/javascript">
        dojo.ready(function(){
            var server = new jdic.audio.Server('{{ audio_server }}');

            // Only create the widget if the desired audio file actually exists.
            //server.audioExists('{% url jdic_audio_file_exists %}', '{{ kanji }}', '{{ kana }}').then(function(exists) {
            //exists = true;
            //    if (exists) {
                    var player = new jdic.audio.Player({
                        audioServer: server,
                        kana: '{{ kana }}',
                        kanji: '{{ kanji }}',
                        autoplay: {{ autoplay }}});
                    player.placeAt(dojo.query('.jdic_audio_player').first()[0]);
                    player.startup();
            //    }
            //});
        });
    </script>
</div>

