# {{ ansible_managed }}

server {
    listen 80;

    server_name {{ rq_dashboard.hostname }};
    charset     utf-8;

    location / {
        proxy_pass http://localhost:{{ rq_dashboard.oauth2_proxy_port }};
    }
}
