# {{ ansible_managed }}

upstream uwsgi {
    server unix://{{ uwsgi_socket }}; # for a file socket
}

server {
    listen 80;

    # the domain name it will serve for
    server_name {{ app_hostname }};
    charset     utf-8;

    # max upload size
    client_max_body_size 15M;

    location / {
        uwsgi_pass uwsgi;
    }
}
