
.popup #tabhead .logo {
    zoom: .7;
}
.popup .login {
    font-size: .8em;
}
.popup.tundra .dijitDialogPaneContentArea {
    padding-top: 6px;
}

.popup #body_contents {
    padding-top: inherit;
    padding-bottom: 1em;
}

.popup #body_contents_container, .popup #footer {
    padding: .5em 1em;
    margin-left: 10px;
    margin-right: 10px;
}
.popup #footer {
    display: none;
}
.popup #body_left, .popup #body_right {
    width: 10px;
}
.popup .inner_body_contents:not(.wide) > *:not(.wide):not(hr) {
    max-width: 50em;
}

.popup .add_decks .columns {
    overflow: hidden;
}
.popup .add_decks .column {
    padding: 1em;
    margin-bottom: inherit;
    /*width: 42%;*/
    width: 21em;
}
.popup .add_decks .column.create_deck {
    width: 12em;
}

.popup .fact_form_container .dijitDialogPaneActionBar {
    height: 5em;
}
.popup .fact_form_container #factAddFormResults {
    float: left;
    text-align: left;
    position: relative;
    top: -1.2em;
}



.popup #footer {
    zoom: .85;
    margin-left: 3em;
    
}
