{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load lazysignup_tags %}

{% block body %}
    <h1>{% trans "Sign Up" %}</h1>
    
    {% if user.is_authenticated and not user|is_lazy_user %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p class="subtext">{% trans "Already have an account?" %} <a href="{% url "acct_login" %}">{% trans "Log In" %}</a>!</p>

        <form class="signup uniForm" id="signup_form" method="post" action="{% url "lazysignup_convert" %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                {% if redirect_to %}
                    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                {% endif %}
                <div class="form_block">
                    <input type="submit" value="{% trans "Sign Up &raquo;" %}" />
                </div>
            </fieldset>
        </form>
        
        {% url "terms_of_service" as terms_url %}
        {% url "privacy_policy" as privacy_url %}
        <p class="weak subtext">{% blocktrans %}By clicking "Sign Up", you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Service</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        
    {% endif %}

    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            //TODO ajax validation is broken
            //$('#signup_form').validate('{% url "signup_form_validate" %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
            $("#id_username").focus();
        });
    </script>

    <script type="text/javascript">
        _kmq.push(['record', 'Viewed Signup']);
    </script>

{% endblock %}

