redis
hiredis
BeautifulSoup==3.2.0
Django==1.3.5
Fabric==1.5.2
South==0.7.6
Unidecode==0.04.7
WebOb==1.0.3
django-ajax-validation==0.1.3
django-announcements==0.1.2
django-appconf==0.4.1
-e git+git@github.com:aehlke/django-cachecow.git@709809ad14a08e1a1aa10eccf014a0560f17bc91#egg=django_cachecow-dev
-e git+git@github.com:aehlke/django-catnap.git@500843fb6b9fc294afe53cf50a29ae79065d91f5#egg=django_catnap-dev
django-extensions==0.4.1
django-gravatar==0.1.0
django-messages==0.4.2
django-model-utils==0.5.0
django-pagination==1.0.7
django-picklefield==0.1.9
-e git+git@github.com:aehlke/django-snippetscream.git@a04a5f90debff410e41bb32831d271c93d97db37#egg=django_snippetscream-dev
django-staticfiles==0.2.0
django-tagging==0.3.1
django-uni-form==0.7.0
django-timezones==0.2
django-tagging-ext==0.2.0
django-paging==0.2.4
django-template-repl==0.3.0
django-templatetag-sugar==0.1
geopy==0.94
jcconv==0.1.6
lxml==2.3
mercurial==1.7.3
mock==0.7.0rc1
python-amazon-product-api==0.2.5a1
python-dateutil==1.4.1
rfc3339==5
pytz==2012j
-e git+git@github.com:aehlke/django-kanjivg.git@30e607785e5b7ad8b57c7e528cc3a62684bb8ed5#egg=django_kanjivg-dev
django-mailer==0.1.0
https://github.com/jtauber/django-mailer/zipball/master
-e git+git@github.com:aehlke/django-lazysignup.git@1ddcdc0936ec67abe2a663f9a0d64b91a319d014#egg=django_lazysignup-dev
django-email-confirmation==0.2
gunicorn==0.17.2
django-debug-toolbar==0.9.4
django-nose2==0.1.1

# Awful dependencies to remove:
johnny-cache==0.3.1

# Suspect:
#django-sorting==0.1
#django-filter==0.5.3
#paramiko==1.7.6
#django-mailer==0.2a1.dev1
#eventlet==0.9.16
#greenlet==0.3.1

# Suspect and broken:
#idios==0.1.dev6
#django-notification==0.2a1.dev4

