{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load ifsetting_tag %}
{% load activetab_tags %}

{# this is a static, non-ajax site base, for things like login and signup #}


{% block extra_head_stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/misc.css" />
{% endblock %}

{% block extra_head_scripts %}
    {% if LIVE_HOST %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery/jquery-ui-1.8.7.custom.min.js"></script>
    {% endif %}
{% endblock %}

{% block body_class %}{{ DOJANGO.THEME }}{% endblock %}

{% block login %}
    {% load i18n ifsetting_tag account_tags %}
    {% load lazysignup_tags %}

    {% if user|is_lazy_user %}
            <a href="{% url "acct_login" %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url lazysignup_convert %}" class="xhr_link"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% else %}
        {% if user.is_authenticated %}
            <b>{% user_display user %}</b> | <a href="{% url "acct_email" %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url acct_logout %}">{% trans "Logout" %}</a>
        {% else %}
            <a href="{% url "acct_login" %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block site_logo %}
<div id="site_title_left"><!-- --></div>
<div id="site_title">
    {% spaceless %}
    {% block site_title_link_tag %}
        <a href="{% url "home" %}">
    {% endblock %}
            <span id="site_logo"><img src="{{ STATIC_URL }}images/gaku.png"></span>
            <span class="no_hover">Manabi</span><span class="hover">まなび</span>
        </a>
    {% endspaceless %}
</div>
<div id="site_title_right"><!-- --></div>
{% endblock %}

{% block nav %}
    <ul>
        <li id="nav_tab_home" class="tab {% is_active_tab request "home" %}"><a href="{% url "home" %}" id="nav_home_link">Home</a>
        <li id="nav_tab_add" class="tab {% is_active_tab request "add" %}"><a href="{% url "add_decks" %}" id="nav_add_link">Add</a>
    </ul>
{% endblock %}

{% block body_outer %}
    <div id="column_wrap">
        {% block above_body_contents %}{% endblock %}
        
        <div id="body_contents_container">
            <div id="subnav_container" class="clearfix">
                <div id="subnav" class="clearfix">
                    {% block subnav_base %}
                        <div class="clearfix">
                            {% block subnav %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div id="body_contents">
                {% block body %}
                    {% block body_contents %}
                        <div class="inner_body_contents">
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div jsId="manabi_standby" target="body_contents" dojoType="dojox.widget.Standby"></div>
{% endblock %}


{% block extra_body_scripts %}
    <script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>

    <script type="text/javascript">
    (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/p8WByNRIr6FmCQ56sz7fQ.js';
        var s = document.getElementsByTagName('script')[0];
        var showTab = function(uv, s) {
            s.parentNode.insertBefore(uv, s);
        };
        // Wait a little longer before showing the tab, since we have a loading screen overlay.
        window.setTimeout(dojo.hitch(null, showTab, uv, s), 2000);
    })();
    </script>
{% endblock %}

{% block footer %}
<div class="legal">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="{{ STATIC_URL }}images/cc.png" /></a> 
    {% trans "&copy; Alex Ehlke 2011" %}.
    Feedback or support: <a href="mailto:support@manabi.org">support@manabi.org</a> | <a href="{% url "terms_of_service" %}" class="xhr_link">Terms of Service</a> | <a href="{% url privacy_policy %}" class="xhr_link">Privacy Policy</a>
    | <a href="{% url "credits" %}" class="xhr_link">Credits</a>
</div>
{% endblock %}


