


{% include "flashcards/reviews.html" %}


<div dojoType="dojox.widget.DialogSimple" jsId="cards_factEditorContainer" title="Edit Flashcard" modal="true" executeScripts="true">
</div>

<div dojoType="dijit.Dialog" jsId="factAddDialog" title="Create Flashcards">
    <script type="dojo/connect" event="onHide" args="evt">
        manabi_ui.xhrReload(); //TODO-OLD only reload the due count, or only if new cards were actually added
    </script>
    <script type="dojo/connect" event="onShow" args="evt">
        {% include "flashcards/_fact_add_form_on_show.js" %}
    </script>

    {% include "flashcards/fact_add_form.html" %}
</div>

