
<div class="flashcard_content">
    <div class="table_container">
        <div class="vertical_container">
            {% include card.template.back_template_name %}
        </div>
    </div>
</div>

{% if card.template.back_prompt %}
    <p class="reviews_back_prompt">{{ card.template.back_prompt }}</p>
{% endif %}


{% if fact.subfacts.all.count %}
    <br>
    <br>
    <div class="subfacts_link_container">
        {% with fact.subfacts.all|first as child_fact %}
            <span style="font-size:.4em" class="fakeLink" onclick="this.style.display='none';reviews_subfactPane.set('href', '{% url fact_subfacts fact.id %}');reviews_subfactPane.refresh();reviews_subfactPane.domNode.style.display='';">View {{ child_fact.fact_type.name }}{{ fact.child_facts.all.count|pluralize }}</span>
        {% endwith %}
    </div>
{% endif %}
