{% extends fragment_base_template_name %}

{% block content %}
<h1>Delete Deck</h1>

<div dojoType="dijit.form.Form" jsId="deckDeleteForm" encType="multipart/form-data" action="" method="">
	<script type="dojo/connect" event="onSubmit" args="evt">
		evt.preventDefault();

        var def = manabi_ui.xhrPost(
            '{% url "delete_deck" deck.id %}',
            dojo.byId('deckDeleteForm'),
            '{{ post_delete_redirect }}');
	</script>
	
	Really delete {{ deck.name }}?<br>
	<br>
	<button dojoType="dijit.form.Button" type="submit">Ok</button>
	<button dojoType="dijit.form.Button" jsId="deckDeleteCancelButton">
		Cancel
		<script type="dojo/connect" event="onClick" args="evt">
            manabi_ui.xhrLink('{% url "decks" %}');
		</script>
	</button>
</div>
{% endblock %}
