{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load ifsetting_tag %}
{% load activetab_tags %}
{% load cache %}


{% block extra_head_base %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}static/tag-it/css/jquery-ui/jquery.ui.autocomplete.custom.css"></link>
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/js/jdic/jPlayer/skins/manabi/jplayer.css"></link>

    {% cache 1200 dojango_include_html %}
    {% include "dojango/include.html" %}
    {% endcache %}

    {% block dojango_post_dj_config %}
    {% endblock %}

    <script type="text/javascript">
        dojo.require('dojango.dojango');

        // xhr csrf for django
        dojo.require('dojo.cookie');
        dojo.ready(function(){
            var xhr = dojo.xhr;
            dojo.xhr = function(method, args, hasBody) {
                if(!args.headers){
                    args.headers = {};
                }
                args.headers['X-CSRFToken'] = dojo.cookie('csrftoken');
                return xhr(method, args, hasBody);
            };
        });
        

        // add our module paths for local files
        var relUrl = '../../../js/'; //{{ MEDIA_URL }}
        dojango.registerModulePath('jdic', '{{ MEDIA_URL }}static/js/jdic', relUrl + 'jdic');
        dojango.registerModulePath('kanjivg', '{{ MEDIA_URL }}static/js/kanjivg', relUrl + 'kanjivg');
        dojango.registerModulePath('reviews', '{{ MEDIA_URL }}static/js/reviews', relUrl + 'reviews');
        dojango.registerModulePath('stats', '{{ MEDIA_URL }}static/js/stats', relUrl + 'stats');
        dojango.registerModulePath('custom', '{{ MEDIA_URL }}static/js/custom', relUrl + 'custom');
        dojango.registerModulePath('manabi', '{{ MEDIA_URL }}static/js/manabi', relUrl + 'manabi');

        $(function() {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
        });

		dojo.ready(function(){
            manabi_ui.hideLoader();
		});
    </script>

    {# manabi.requirements #}
    {# <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi/requirements.js"></script> #}
    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi/manabiRelease.js"></script>    

    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi.js"></script>    

    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/jquery-sparkline/jquery.sparkline.js" charset="utf-8"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}static/tag-it/js/ie-compat.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}static/tag-it/js/tag-it.js" charset="utf-8"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/jdic/jPlayer/jquery.jplayer.min.js"></script>


    {% block extra_head %}{% endblock %}

{% endblock %}

{% block body_top %}
    <div id="siteLoader"><div id="siteLoaderInner"></div></div> 
{% endblock %}

{% block login %}
    {% load i18n ifsetting_tag account_tags %}
    {% load lazysignup_tags %}

    {% if user|is_lazy_user %}
            <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url lazysignup_convert %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% else %}
        {% if user.is_authenticated %}
            <b>{% user_display user %}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url acct_logout %}">{% trans "Logout" %}</a>
        {% else %}
            <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block site_title_link_tag %}
    <a href="{% url home_inline %}" class="xhr_link">
{% endblock %}

{% block nav %}
    <ul>
        <li id="nav_tab_home" class="tab {% is_active_tab request "home" %}"><a href="{% url home_inline %}" id="nav_home_link" class="xhr_link">Home</a>
        {% if user.is_authenticated %}
            <li id="nav_tab_add" class="tab {% is_active_tab request "add" %}"><a href="{% url add_decks %}" id="nav_add_link" class="xhr_link">Add</a>
            <li id="nav_tab_manage" class="tab {% is_active_tab request "manage" %}"><a href="{% url decks %}" id="nav_manage_link" class="xhr_link">Manage</a>
            <li id="nav_tab_stats" class="tab {% is_active_tab request "stats" %}"><a href="{% url stats %}" class="xhr_link">Stats</a>
        {% endif %}

        <script type="text/javascript">
            dojo.subscribe('manabi.tab_activated', function(tab_name) {
                // make all tabs inactive first
                dojo.query('#nav .tab').removeClass('active');
                
                // Make the appropriate tab active
                dojo.query('#nav_tab_' + tab_name).addClass('active');
            });
        </script>
    </ul>
{% endblock %}

{% block above_body_contents %}
    {% if user.is_authenticated %}
        {% with user|is_lazy_user as  user_is_lazy %}
            {% cache 1200 flashcards_base_html user_is_lazy %}
            {% include "flashcards/base.html" %}
            {% endcache %}
        {% endwith %}
    {% endif %}
    <div jsId="manabi_standby" target="body_contents" dojoType="dojox.widget.Standby"></div>
{% endblock %}

{% block body %}
    <div dojoType="dojox.layout.ContentPane" jsId="body_pane" style="overflow:hidden" executeScripts="true" scriptHasHooks="true">
        <script type="dojo/method" event="onDownloadStart">
            /*var bodyNode = dojo.byId('body_contents');
            var pos = dojo.position(bodyNode, true);

            dojo.style(loader, {
                left: pos.x + 'px',
                top: pos.y + 'px',
                height: 200,//pos.h,
                width: pos.w,
	            background: 'white',
	            opacity: 1 
            });*/
            dojo.query('.legal').style({ display: 'none' });

            return '<div class="bodyPaneLoader"><div class="bodyPaneLoaderInner"></div></div>';
        </script>
        <script type="dojo/connect" event="onDownloadEnd">
            dojo.query('.legal').style({ display: '' });
            manabi_ui.convertLinksToXhr(body_pane.domNode);            
            //manabi_ui.hideLoader();
        </script>
        {% block body_contents %}
        {% endblock %}
    </div>
{% endblock %}


