{% load i18n %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


        <meta name="author" content="Alex Ehlke">
        <meta name="description" content="Japanese flashcards based on real science.">

        <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->


        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/announcements.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css">
        {% if LANGUAGE_BIDI %}
            <style type="text/css" media="screen">
                div.right_panel {
                    float: left; /* hotfix for sidebar */
                }
            </style>
        {% endif %}

        {% block extra_head_stylesheets %}{% endblock %}
        {% block extra_head_scripts %}{% endblock %}

        {# <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-lightness/jquery-ui.css"> #}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

        <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/tundraMods.css">

        <script type="text/javascript">
            // don't allow IE users yet :( ... >:]
            dojo.addOnLoad(function() {
                if (dojo.isIE < 8) {
                    dojo.byId('body_contents').innerHTML = "\
                    Unfortunately your browser, Internet Explorer, is too old and doesn't work with this site.\
                    <br><br>\
                    Please upgrade your version of Internet Explorer, or use a more standards-compliant browser such as \
                    <a href=\"http://www.google.com/chrome\">Google Chrome</a>, <a href=\"http://www.mozilla.com/firefox/\">Firefox</a>, \
                    or <a href=\"http://www.apple.com/safari/\">Safari</a>.<br><br>\
                    Sorry for the inconvenience!";
              }
            });

            {% if user.is_authenticated %}
                dojo.require('manabi_ui');
            {% endif %}

        </script>

    </head>
    
    <body class="{% block body_class %}{% endblock %}" style="overflow-x:hidden">
        {% csrf_token %}

        {% block body_top %}{% endblock %}
        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div id="tabhead">
            <div class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
            <div class="login">{% block login %}{% endblock %}{% block locale_switcher %}{% endblock %}<div style="text-align: right;"></div></div>
            <div id="left_tabs" >{% block left_tabs %}{% endblock %}</div>
            <div id="right_tabs" >{% block right_tabs %}{% endblock %}</div>
        </div>
        <div id="nav_container" class="clearfix">
            <div id="nav" class="clearfix">
                {% block nav_base %}
                    <div class="clearfix">
                        {% block nav %}&nbsp;{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <div style="clear:both"></div>
        
        <div id="body_left"></div>

        {% block body_outer %}
        <div id="body">

            {% if messages %}
                <ul id="messages">
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
        {% endblock %}

        <div id="body_right"></div>
        
        <div id="footer">{% block footer %}{% endblock %}</div>
        

        {% block extra_body_scripts %}{% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}

        {% if not debug %}

            <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16313197-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            </script>
    
        {% endif %}

    </body>
</html>

