{% load activetab_tags %}
{% load i18n lazysignup_tags %}
{% load lazy_warning %}

{% if user|is_lazy_user %}
    {% show_lazy_user_warning user %}
{% endif %}

<div class="{% block content_class %}{% endblock %}">
    {% block content %}
    {% endblock %}
</div>

<script type="text/javascript">
    // Broadcast the nav tab that should be activated by this page loading
    var active_tab = '{% block active_tab_name %}{% active_tab request %}{% endblock %}';

    if (active_tab != '') {
        dojo.publish('manabi.tab_activated', [active_tab]);
    }
</script>

{% if not debug %}

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_trackPageview', '{{ request.path }}']);

    </script>

{% endif %}

{% comment %}
<script type="text/javascript">
    dojo.addOnLoad(function() {
        manabi_ui.convertLinksToXhr(body_pane.domNode);
    });
</script>

<script type="text/javascript">
    dojo.ready(function() {
    });
</script>
{% endcomment %}
