{% extends extended_template_name %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}Manabi{% endblock %}

{% block extra_head %}
  {% if user.is_authenticated %}
    {% include "flashcards/extra_head.html" %}
  {% endif %}

{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body_contents %}
    {% if not user.is_authenticated %}
    <h1>Welcome</h1>
    <div id="loginPromptContainer">    
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    </div>
    {% endif %}
    
{% endblock %}
