{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
  {% include 'dojango/include.html' %}
  {% if user.is_authenticated %}
    {% include 'flashcards/extra_head.html' %}
  {% endif %}
{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<span style="font-size:42px;position:relative;top:8px;color:#8A0808">学び</span>

    <h1>Welcome to MaNaBi</h1>
    
    {% if user.is_authenticated %}
      <p>
        {% include 'flashcards/base.html' %}
      </p>
    {% endif %}
   <br /> 
    {% if user.is_authenticated %}
        {% comment %}{% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
        {% endcomment %}
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
