{% extends fragment_base_template_name %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}
{% load reviewtime_tags %}
{% load humanize %}
{% load duration %}
{% load review_tags %}
{% load stats_tags %}
{% load kanji_tags %}
{% load i18n lazysignup_tags %}

{% block content_class %}home{% endblock %}

{% block content %}

{% if user|is_lazy_user or user.is_anonymous %}
    <h2>Japanese flashcards based on real science</h2>
    <div>
        <div id="lazy_user_landing_box" class="aux_info_box">
            <div class="column new_user">
                <h3>New to the site?</h3>
                {# <div> {% include "flashcards/_get_started_or_review.html" %} </div> #}
                {% if user|is_lazy_user %}
                    <div>
                        You can start using it right away.
                    </div>
                    {% if not cards_exist %}
                        <div class="eyecatching_action_button"><a href="{% url add_decks %}" class="xhr_link">Start learning now!</a></div>
                    {% endif %}
                    <div>
                        After you've tried it out, <a href="{% url lazysignup_convert %}">sign up for a free account</a> to save your progress.
                    </div>
                    {% if cards_exist %}
                        <div class="eyecatching_action_button"><a href="{% url lazysignup_convert %}">Sign Up!</a></div>
                    {% endif %}
                {% else %}
                    <div>Please <a href="{% url acct_signup %}">sign up here</a> for a free account.</div>
                {% endif %}
            </div>
            <div class="column login_link">
                <h3>Already signed up?</h3>
                <div>
                    <a href="{% url acct_login %}">Log in here</a>.
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
{% else %}
    <h3>Welcome back, {{ user }}.</h3>
{% endif %}

{% if not user.is_anonymous %}
    <p>
        {% show_review_time_report user %}
    </p>
    {% if not user|is_lazy_user or decks_exist %}
        <p>
            {% include "flashcards/_get_started_or_review.html" %}
        </p>
    {% endif %}
{% endif %}

<br>
<br>
<hr>
<div class="column" style="width: 26em">
    <p><em>Why Manabi?</em></p>
    <p>Manabi uses a <a href="http://en.wikipedia.org/wiki/Spaced_repetition" target="_blank" class="definition">spaced repetition</a> algorithm to remind you when and what you need to review, by tracking your <a href="http://en.wikipedia.org/wiki/Forgetting_curve" target="_blank" class="definition">forgetting curve</a> for every card you study.</p>
    <p>In short, it's less work and less worry for you to retain the new things you learn. Easy, and free.</p>
</div>
<div class="column" id="manabi_project_links">
    <ul>
        <li>
            <a href="https://twitter.com/manabiSRS" class="twitter-follow-button" data-show-count="false">Follow @manabiSRS</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></a>
        </li>
        <li><a href="http://blog.manabi.org" target="_blank" class="weak">Blog</a></li>
        <li><img src="{{ STATIC_URL }}icons/chrome.jpg"> <a href="https://chrome.google.com/webstore/detail/fkpccoheeacbclgieadamngphcniiidi" target="_blank" class="weak">Chrome extension</a></li>
        <li class="weak">iPhone app <span class="subtext">(<a href="http://blog.manabi.org/iphone-app-preview" target="_blank">coming soon</a>)</span></li>
    </ul>
</div>
<div style="clear:both"></div>

{% endblock %}
