{% extends "body_pane_base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}
{% load reviewtime_tags %}
{% load humanize %}
{% load duration %}
{% load review_tags %}
{% load stats_tags %}
{% load kanji_tags %}
{% load i18n lazysignup_tags %}

{% block content %}

{% if user|is_lazy_user %}
    <h2>Japanese flashcards based on real science</h2>
    <div>
        <div id="lazy_user_landing_box" class="aux_info_box">
            <div class="column new_user">
                <h3>New to the site?</h3>
                {# <div> {% include "flashcards/_get_started_or_review.html" %} </div> #}
                <div>
                    You can start using it right away.
                </div>
                {% if not cards_exist %}
                    <div class="eyecatching_action_button"><a href="{% url add_decks %}" class="xhr_link">Start learning now!</a></div>
                {% endif %}
                <div>
                    After you've tried it out, <a href="{% url lazysignup_convert %}">sign up for a free account</a> to save your progress.
                </div>
                {% if cards_exist %}
                    <div class="eyecatching_action_button"><a href="{% url lazysignup_convert %}">Sign Up!</a></div>
                {% endif %}
            </div>
            <div class="column login_link">
                <h3>Already signed up?</h3>
                <div>
                    <a href="{% url acct_login %}">Log in here</a>.
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
{% else %}
    <h3>Welcome back, {{ user }}.</h3>
{% endif %}

<p>
    {% show_review_time_report user %}
</p>
{% if not user|is_lazy_user or decks_exist %}
    <p>
        {% include "flashcards/_get_started_or_review.html" %}
    </p>
{% endif %}

<br>
<br>
<hr>
<div class="column" style="width: 26em">
    <p><em>Why Manabi?</em></p>
    <p>Manabi uses a <a href="http://en.wikipedia.org/wiki/Spaced_repetition" target="_blank" class="definition">spaced repetition</a> algorithm to remind you when and what you need to review, by tracking your <a href="http://en.wikipedia.org/wiki/Forgetting_curve" target="_blank" class="definition">forgetting curve</a> for every card you study. It's also a free service.</p>
</div>
<div class="column" style="margin-left: 2.5em;">
    <p>&nbsp;</p>
    <p><a href="http://www.twitter.com/manabiSRS" target="_blank"><img src="http://twitter-badges.s3.amazonaws.com/twitter-b.png" alt="Follow manabiSRS on Twitter"/></a></p>
    <p>
    <h3><a href="http://blog.manabi.org" target="_blank" class="weak">Blog</a></h3>
    </p>
</div>
<div style="clear:both"></div>

{% comment %}    Please email me if you have any problems, questions or suggestions: <a href="mailto:">jehlke@student.umass.edu</a>{% endcomment %}
{% comment %}<em>Hint:</em> You can press 1-4 on your keyboard to grade cards instead of clicking the buttons (1=wrong, 2=hard, 3=good, 4=too easy). You can also show the flashcard answer by pressing the spacebar.
{% endcomment %}

<br /> 

{% comment %}
    {% if user.is_authenticated %}
            {% url what_next as what_next_url %}
            <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endcomment %}
{% endblock %}
