<div jsId="factAddDialogStandby" target="sidebar" dojoType="dojox.widget.Standby"></div>

<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Flashcards</span>
    </div>
    <div class="sidebar_box_contents" style="font-size:14px">
        <div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
            <div dojoType="dijit.form.DropDownButton" type="button" disabled="false">
                <span style="font-size:14px"><div style="width:224px; height:20px; line-height:20px;">Create Flashcards</div></span>
                <div dojoType="dijit.TooltipDialog" jsId="factAddDialog">
                    <script type="dojo/connect" event="onShow" args="evt">
                        dojo.query('textarea', factAddDialog.domNode).forEach(function(node) {
                            var widget = dijit.getEnclosingWidget(node);
                            widget.resize();
                        });
                        dojo.query('div.hidden_in_form', factAddDialog.domNode).forEach(function(node) {
                            var to_hide = true;
                            var text_nodes = dojo.query('textarea', node);
                            if (text_nodes.length) {
                                var widget = dijit.getEnclosingWidget(text_nodes[0]);
                                
                                if (widget.attr('value').trim() != '') {
                                    to_hide = false;
                                }
                            }
                            if (to_hide) {
                                node.style.display = 'none';
                                //unhide the 'Add ...' link, which shows this hidden field
                                dojo.query(node).prev()[0].style.display = '';
                            }
                        });
                    </script>
                    {% include "flashcards/fact_add_form.html" %}
                </div>
            </div><br>
            <div dojoType="dijit.form.Button" type="button" disabled="false">
                <div style="width:240px; height:20px; line-height:20px;"><span style="font-size:14px">Start Learning</span></div>
                <script type="dojo/connect" event="onClick" args="evt">
                    reviews_ui.openDialog();
                </script>
            </div><br><br>
            <a href="flashcards/facts" class="xhr_link">
                Edit Flashcards
            </a>
            <br><br>
            <a href="flashcards/decks" class="xhr_link">
                My Decks
            </a>
        </div>
    </div>
</div>

<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Dictionary</span>
    </div>
    <div class="sidebar_box_contents">
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        coming soon...
    </div>
</div>
{% comment %}
<div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
<span style="font-size:14px; text-decoration:underline; color:blue;">Create Flashcards</span>
</div>
{% endcomment %}
