{% load xhrlinks %}
<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Flashcards</span>
    </div>
    <div class="sidebar_box_contents" style="font-size:14px">
        <div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
            <button dojoType="dijit.form.Button" type="button">
                <div style="width:248px; height:24px; line-height:24px;"><span style="font-size:14px">Begin Review</span></div>
            </button><br>
            <button dojoType="dijit.form.DropDownButton" type="button">
                <span style="font-size:14px"><div style="width:232px; height:24px; line-height:24px;">Create Flashcards</div></span>
                <div dojoType="dijit.TooltipDialog">
                    {% include "flashcards/fact_add_form.html" %}
                </div>
            </button><br><br>
            {% xhrlink "flashcards/facts" "Edit Flashcards" %}
            <br>
            {% xhrlink 'flashcards/decks' 'Decks' %}
            <br>
        </div>
    </div>
</div>

<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Dictionary</span>
    </div>
    <div class="sidebar_box_contents">
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        coming soon...
    </div>
</div>
{% comment %}
<div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
<span style="font-size:14px; text-decoration:underline; color:blue;">Create Flashcards</span>
</div>
{% endcomment %}
