<div jsId="factAddDialogStandby" target="sidebar" dojoType="dojox.widget.Standby"></div>

<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Flashcards</span>
    </div>
    <div class="sidebar_box_contents" style="font-size:14px">
        <div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
            <button dojoType="dijit.form.DropDownButton" type="button">
                <span style="font-size:14px"><div style="width:224px; height:20px; line-height:20px;">Create Flashcards</div></span>
                <div dojoType="dijit.TooltipDialog" jsId="factAddDialog">
                    {% include "flashcards/fact_add_form.html" %}
                </div>
            </button><br>
            <button dojoType="dijit.form.Button" type="button">
                <div style="width:240px; height:20px; line-height:20px;"><span style="font-size:14px">Start Reviewing</span></div>
                <script type="dojo/method" event="onClick" args="evt">
                    reviews_ui.openDialog();
                </script>
            </button><br><br>
            <a href="flashcards/facts" class="xhr_link">
                Edit Flashcards
            </a>
            <br><br>
            <a href="flashcards/decks" class="xhr_link">
                My Decks
            </a>
        </div>
    </div>
</div>

<div class="sidebar_box">
    <div class="sidebar_box_header">
        <span class="sidebar_box_title">Dictionary</span>
    </div>
    <div class="sidebar_box_contents">
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        filler<br>
        coming soon...
    </div>
</div>
{% comment %}
<div style="margin-left:auto; margin-right:auto;width:100%;text-align:center;">
<span style="font-size:14px; text-decoration:underline; color:blue;">Create Flashcards</span>
</div>
{% endcomment %}
