{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load ifsetting_tag %}
{% load activetab_tags %}


{% block extra_head_base %}
    {% include "dojango/include.html" %}

    {% block dojango_post_dj_config %}<script type="text/javascript">djConfig['parseOnLoad'] = false;</script>{% endblock %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/site_tabs.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/misc.css" />



    {% if user.is_authenticated %}
        <script type="text/javascript"> 
		    dojo.ready(function(){
			    //dojo.parser.parse(document.body);
			    /*setTimeout(function(){
				    var loader = dojo.byId('siteLoader');
				    dojo.fadeOut({ node: loader, duration: 500, onEnd: function(){ loader.style.display = 'none'; }}).play();
			    }, 500);*/
                manabi_ui.hideLoader();
		    });
	    </script> 

        <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi.js"></script>    
        <script type="text/javascript">
            dojo.require('dojango.dojango');

            // add our module paths for local files
            dojango.registerModulePath('jdic', '{{ MEDIA_URL }}static/js/jdic');
            dojango.registerModulePath('kanjivg', '{{ MEDIA_URL }}static/js/kanjivg');
            dojango.registerModulePath('reviews', '{{ MEDIA_URL }}static/js/reviews');
            dojango.registerModulePath('custom', '{{ MEDIA_URL }}static/js/custom');

            $(function() {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });
            });
        </script>

        <script type="text/javascript" src="{{ MEDIA_URL }}static/js/highcharts/highcharts.js"></script>

        <script type="text/javascript" src="{{ MEDIA_URL }}static/js/jdic/jPlayer/jquery.jplayer.min.js"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}static/js/jdic/jPlayer/skins/manabi/jplayer.css"></link>

    {% else %}
        <script type="text/javascript">
            // don't allow IE users yet :( ... >:]
            dojo.addOnLoad(function() {
                if (dojo.isIE) {
                    dojo.byId('body_contents').innerHTML = "\
                    Unfortunately your browser, Internet Explorer, doesn't work with this site just yet.<br><br>\
                    Please use a more standards-compliant browser such as \
                    <a href=\"http://www.mozilla.com/firefox/\">Firefox</a>, \
                    <a href=\"http://www.google.com/chrome\">Google Chrome</a>, or <a href=\"http://www.apple.com/safari/\">Safari</a>.<br><br>\
                    Sorry for the inconvenience! We'll add IE support eventually!";
              }
            });

            {% if user.is_authenticated %}
                dojo.require('manabi_ui');
            {% endif %}

        </script>
    {% endif %}

    {% block extra_head %}{% endblock %}

    {% comment %}<script type="text/javascript" src="{{ MEDIA_URL }}static/js/pixastic.custom.js"></script>    
    <script type="text/javascript">
        // Desaturate our nav images
        /*
        dojo.ready(function() {
            var desaturate = function(node) {
                Pixastic.process(node, 'edges', { mono:true, invert:true });
            };
            dojo.query('#subnav a').forEach(function(node) {
                dojo.query('img', node).forEach(function(node) {
                    desaturate(node);
                });
                dojo.query('canvas', node).forEach(function(node) {
                    dojo.style(node, 'opacity', '.3');
                });
                dojo.query(node).onmouseenter(dojo.hitch(this, function() {
                    dojo.query('canvas', node).forEach(function(node) {
                        dojo.style(node, 'opacity', '1.0');
                        Pixastic.revert(node);
                        dojo.style(node, 'opacity', '1.0');
                    });
                }));
                dojo.query(node).parent().onmouseleave(dojo.hitch(this, function() {
                    dojo.query('img', node).forEach(function(node) {
                        desaturate(node);
                        dojo.style(node, 'opacity', '.3');
                    });
                }));
            });
        });*/
    </script>{% endcomment %}
{% endblock %}

{% block body_class %}{{ DOJANGO.THEME }}{% endblock %}

{% block body_top %}
    {% if user.is_authenticated %}
        <div id="siteLoader"><div id="siteLoaderInner"></div></div> 
    {% endif %}
{% endblock %}

{% block login %}
    {% load i18n ifsetting_tag account_tags %}
    {% if user.is_authenticated %}
    <b>{% user_display user %}</b> {% comment %} | <a href="{% url acct_email %}">{% trans "Account" %}</a> {% endcomment %}| {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block logo_link_image %}
<div id="site_title_left"><!-- --></div>
<div id="site_title">
    {% if user.is_authenticated %}
        <a href="{% url home_inline %}" onclick="manabi_ui.xhrLink(this.href);return false;">
    {% else %}
        <a href="{% url home %}">
    {% endif %}
            <span id="site_logo">学</span>
            <span class="no_hover">Manabi</span><span class="hover">まなび</span>
        </a>
</div>
<div id="site_title_right"><!-- --></div>
{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li id="nav_tab_home" class="tab {% is_active_tab request "home" %}"><a href="{% url home_inline %}" id="subnav_home_link" class="xhr_link">Home</a>
            <li id="nav_tab_add" class="tab {% is_active_tab request "add" %}"><a href="{% url add_decks %}" id="subnav_add_link" class="xhr_link">Add</a>
            <li id="nav_tab_manage" class="tab {% is_active_tab request "manage" %}"><a href="{% url decks %}" id="subnav_manage_link" class="xhr_link">Manage</a>
            <li id="nav_tab_stats" class="tab {% is_active_tab request "stats" %}"><a href="{% url stats %}" class="xhr_link">Stats</a>

            <script type="text/javascript">
                dojo.subscribe('manabi.tab_activated', function(tab_name) {
                    // make all tabs inactive first
                    dojo.query('#subnav .tab').removeClass('active');
                    
                    // Make the appropriate tab active
                    dojo.query('#nav_tab_' + tab_name).addClass('active');
                });
            </script>
        {% endif %}
    </ul>
{% endblock %}

{% block right_tabs %}
{% comment %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endcomment %}
{% endblock %}

{% block body_outer %}
    <div id="column_wrap">
        {% if user.is_authenticated %}
            {% include "flashcards/base.html" %}
        {% endif %}
        
        <div id="body_contents">
            {% block body %}
            <div dojoType="dojox.layout.ContentPane" jsId="body_pane" style="overflow:hidden" executeScripts="true" scriptHasHooks="true">
                <script type="dojo/connect" event="onDownloadEnd">
                    manabi_ui.convertLinksToXhr(body_pane.domNode);            
                </script>
                {% block body_contents %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    <div jsId="manabi_standby" target="body_contents" dojoType="dojox.widget.Standby"></div>
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; Alex Ehlke 2011" %}{% if user.is_authenticated %}. 
    Feedback or support: <a href="mailto:manabi.org@gmail.com">manabi.org@gmail.com</a>
    {% endif %}
    {% comment %}
    <div class="sub_legal">
        Icons by <a href="http://dryicons.com">DryIcons</a>
    </div>
    {% endcomment %}
{% comment %}    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a> {% endcomment %}
</div>
{% endblock %}


