{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load openid_tags %}
{% load ifsetting_tag %}

{% block extra_head_base %}
    {% include 'dojango/include.html' %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/site_tabs.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/misc.css" />
    {% block extra_head %}{% endblock %}
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi.js"></script>    
    {% else %}
        <script type="text/javascript">
            // don't allow IE users yet :( ... >:]
            dojo.addOnLoad(function() {
                if (dojo.isIE) {
                    dojo.byId('body_contents').innerHTML = "\
                    Unfortunately your browser, Internet Explorer, doesn't work with this site yet.<br><br>\
                    Please use a more standards-compliant browser such as <a href=\"http://www.mozilla.com/firefox/\">Firefox</a>, <a href=\"http://www.google.com/chrome\">Google Chrome</a>, or <a href=\"http://www.apple.com/safari/\">Safari</a>.<br><br>\
                    Sorry for the inconvenience.";
              }
            });
        </script>
    {% endif %}
{% endblock %}

{% block body_class %}{{ DOJANGO.THEME }}{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block logo_link_image %}
<div style="font-size:2.4em;font-family:Helvetica;position:relative;text-decoration:none;padding-left:6px">
    {% if user.is_authenticated %}
        <a style="color:white;text-decoration:none;" href="{% url home_inline %}" onclick="manabi_ui.xhrLink(this.href);return false;">
            m a n a b i
        </a>
    {% else %}
        <a style="color:white;text-decoration:none;" href="{% url home %}">m a n a b i</a>
    {% endif %}
</div>
{% endblock %}

{% block subnav %}
    <ul>
        <li><a href="{% url home_inline %}" class="xhr_link">Home</a>
        <li><a href="/flashcards/add" class="xhr_link">Add</a>
        <li><a href="/flashcards/decks" class="xhr_link">Manage</a>
    </ul>
{% endblock %}

{% block right_tabs %}
{% comment %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endcomment %}
{% endblock %}

{% block body_outer %}
    <div id="column_wrap" style="background-color:#52676D">
        <div style="float:right">
            {% if user.is_authenticated %}
                <div class="sidebar" id="sidebar"><div style="display:none">
                    {% include 'sidebar.html' %}
                </div></div>
                {% include 'flashcards/base.html' %}
            {% endif %}
        </div>
        
        <div id="body_contents">
            {% block body %}
            <div dojoType="dijit.layout.ContentPane" jsId="body_pane">
                <script type="dojo/connect" event="onDownloadEnd">
                    manabi_ui.convertLinksToXhr(body_pane.domNode);            
                </script>
                {% block body_contents %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    <div jsId="manabi_standby" target="body_contents" dojoType="dojox.widget.Standby"></div>
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; Alex Ehlke 2010" %}{% if user.is_authenticated %}. 
    Contact us: manabi.org (at) gmail (dot) com
    {% endif %}
{% comment %}    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a> {% endcomment %}
</div>
{% endblock %}
