{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load openid_tags %}
{% load ifsetting_tag %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/site_tabs.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}static/css/misc.css" />
    {% block extra_head %}{% endblock %}
    <script type="text/javascript" src="{{ MEDIA_URL }}static/js/manabi.js"></script>    
{% endblock %}

{% block body_class %}{{ DOJANGO.THEME }}{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block logo_link_image %}
<div style="font-size:40px;position:relative;text-decoration:none;padding-top:20px;padding-left:20px;line-height:50px">
    {% if user.is_authenticated %}
        <a style="color:white;text-decoration:none;display:block;font-weight:500;margin-right:160px;" href="{% url home_inline %}" onclick="manabi_ui.xhrLink(this.href);return false;">
            m a n a b i
        </a>
    {% else %}
        <a style="color:white;text-decoration:none;display:block;font-weight:500;margin-right:160px;" href="{% url home %}">m a n a b i</a>
    {% endif %}
</div>
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block body_outer %}
    {% if user.is_authenticated %}
        <div class="sidebar" id="sidebar">
            {% include 'sidebar.html' %}
        </div>
        {% include 'flashcards/base.html' %}
    {% endif %}
    
    <div id="body_contents">
        {% block body %}
        <div dojoType="dijit.layout.ContentPane" jsId="body_pane" href="home">
            {% block body_contents %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>

    <div jsId="manabi_standby" target="body_contents" dojoType="dojox.widget.Standby"></div>
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; Alex Ehlke 2009" %}{% if user.is_authenticated %}. 
    contact me: jehlke <span style="color:lightgray">(at)</span> student <span style="color:lightgray">(dot)</span> umass <span style="color:lightgray">(dot)</span> edu
    {% endif %}
{% comment %}    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a> {% endcomment %}
</div>
{% endblock %}
