
/* Custom classes */
.tundra .mini.dijit .dijitButtonText {
    font-size: .8em;
    position: relative;
    top: -.15em;
    padding: 0 .6em;
}


/* Buttons */
.tundra .dijitButtonNode {
	/*background:#d1d1d1 url(images/button-bg.png) repeat-x 0 0;*/
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3 #aaaaaa #888 #aaaaaa;
	-moz-border-radius: 3px;
	/*-webkit-border-radius: 3px;*/
	border-radius: 3px;
	color:#222;

    /*padding: 0.1em 0.2em 0.2em 0.2em;*/
    padding: 0;
}
.tundra span:not(.dijitDisabled) .dijitButtonNode {
	-moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
	box-shadow:0 1px 2px #ddd;
	text-shadow:0 1px 0 #fff;
}


.tundra .dijitButtonContents {
    padding: 0.2em 0.5em;
    position: relative;
    top: -0.1em;
}

.tundra .dijitButtonContents h1, .tundra .dijitButtonContents h2, .tundra .dijitButtonContents h3 {
    margin: 0;
}

.tundra span:not(.dijitDisabled) .dijitButtonNode:hover {
    -moz-box-shadow:0 0 2px #3daee6;
    -webkit-box-shadow:0 0 2px #3daee6;
    box-shadow:0 0 2px #3daee6;
    border-color: #3daee6;
}

.tundra span:not(.dijitDisabled) .dijitButtonNode:active {
    background: #ddd;
}


/* Dialog */
.tundra .dijitDialogTitleBar, .tundra .dijitDialog {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
}
.tundra .dijitDialogCloseIcon {
    top: 7px;
}
.tundra .dijitDialogTitleBar {
    /*border-bottom: 1px solid #999999;*/
}

/* Add action buttons to dijit.Dialog */
.tundra .dijitDialogPaneContent {
    padding: 10px 8px;
    border-top: 1px solid #999999;
}
.tundra .dijitDialogPaneContentArea {
    /* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
     * left to right but still indent dialog content */
    margin: -10px -8px;
    padding: 14px 10px;
}

.tundra .dijitDialogPaneActionBar {
    /* gray bar at bottom of dialog with OK/Cancel buttons */

    background-color: #efefef;
    padding: 6px 7px 7px 7px;
    text-align: right;
    border-top: 1px solid #d3d3d3;
    margin: 10px -8px -10px;
}

.tundra .dijitDialogPaneActionBar .dijitButton {
    float: none;
}



.tundra .dijitTextArea {
	padding: 6px;
}
.tundra .dijitTextBox {
    padding: 1px;
    margin-top: .5em;
    margin-bottom: .5em;
}
.tundra .dijitInputContainer input, .tundra .dijitTextBox {
    margin: 0;
}

.tundra .dijitComboBox .dijitButtonNode {
    padding: 0.2em 0.2em;
}


/* inline editing */
.dijitInlineEditBoxDisplayModeHover {
    /*background-color: #eee;*/
    background-color: #F2F8FF;
    border: none;
}
.dijitInlineEditBoxDisplayMode {
    border: none;
    cursor: pointer;
}
.dijitInlineEditBoxDisplayModeHover:after {
    content: 'click to edit';
    color: lightgray;
    font-size: .55em;
    font-weight: normal;
    font-style: italic;
    margin-left: .5em;
    line-height: .4em;
}



/* my new icons */


.tundra .manabi_icon {
	width: 16px;
	height: 16px;
	text-align: center;
}
.tundra .manabi_icon_magnifier {
	background-image: url(/site_media/static/icons/silk/magnifier.png);
}
.tundra .manabi_icon_add {
	background-image: url(/site_media/static/icons/silk/add.png);
}
.tundra .manabi_icon_undo {
	background-image: url(/site_media/static/icons/silk/arrow_undo.png);
}
.tundra .manabi_icon_control_pause {
	background-image: url(/site_media/static/icons/silk/control_pause_blue.png);
}
.tundra .manabi_icon_control_play {
	background-image: url(/site_media/static/icons/silk/control_play.png);
}
.tundra .manabi_icon_clock_play {
	background-image: url(/site_media/static/icons/silk/clock_play.png);
}
.tundra .manabi_icon_clock_stop {
	background-image: url(/site_media/static/icons/silk/clock_stop.png);
}
.tundra .manabi_icon_application_form_edit {
	background-image: url(/site_media/static/icons/silk/application_form_edit.png);
}
.tundra .manabi_icon_information {
	background-image: url(/site_media/static/icons/silk/information.png);
}
.tundra .manabi_icon_disk {
	background-image: url(/site_media/static/icons/silk/disk.png);
}


