{% extends "popup_base.html" %}

{% load cache %}

{% block head_title %}Create Flashcards{% endblock %}

{% block content_class %}fact_form fact_add_form{% endblock %}

{% block content %}

<h4 style="padding-left:2px;margin-bottom:1em;">Create flashcards in '{{ fact_add_form.deck.name }}' (<a href="{% url popups-deck_chooser %}">change deck</a>)</h4>

{% include "flashcards/fact_add_form.html" %}

<script type="text/javascript">
    resizeTo(576, 730);
    {% include "flashcards/_fact_add_form_on_show.js" %}
</script>

{% endblock %}
