<script type="text/javascript">
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            defaultSeriesType: 'column',
            margin:[0,0,0,0],
            //borderWidth:1
        },
        title:{ text:'' },
        credits:{ enabled:false },
        xAxis: {
            labels: { enabled:false } },
        yAxis: {
            maxPadding:0,
            minPadding:0,
            endOnTick:false,
            labels: { enabled:false }
        },
        legend: { enabled:false },
        tooltip: { enabled:false },
        plotOptions: {
            column: {
                pointPadding: 0,
                groupPadding: 0,
            },
            series:{
                stacking: 'normal'
                pointPadding: 0,
                groupPadding: 0,
                borderWidth: 0,
                pointWidth: 4,
                shadow: false
            }
        },
        series: [{
            color:'#666',
            fillColor:'rgba(204,204,204,.25)',
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            
        }]
    });
</script>
