{% load review_tags %}
{% load stats_tags %}
{% load cache %}

{% if not decks_exist %}
    {# <h3>Wondering what next?</h3> #}
    Get started by <a href="{% url "add_decks" %}" class="xhr_link">adding some flashcard decks</a>.
{% else %}{% if not cards_exist %}
    Get started by <a href="{% url "add_decks" %}" class="xhr_link">adding some pre-made flashcard decks</a>, 
    or by creating new flashcards in <a href="{% url "decks" %}" class="xhr_link">one of your existing decks</a>.
{% else %}
    <p>
        {% show_review_start_buttons %}
        <em class="weak">Or <a href="{% url "decks" %}" class="xhr_link">choose a deck</a> to review.</em>
    </p>
    <br>

    <div class="mini_stats_container">
        <div class="mini_stats_title">Total Progress Summary</div>
        {% overview_stat_counts request.user %}
        {% usage_history request.user %}
    </div>
{% endif %} {% endif %}

