{% extends fragment_base_template_name %}

{% load xhrlinks %}
{% load i18n lazysignup_tags %}
{% load cache %}

{% block content_class %}add_decks wide{% endblock %}

{% block content %}

{% if user|is_lazy_user %}
    <p class="aux_info_box wide">
        <strong>Welcome to Manabi!</strong> First choose a deck below of flashcards that you want to study (or create your own).
    </p>
{% endif %}

<div class="column shared_decks">
    <img src="{{ STATIC_URL }}icons/isloo/search.png" class="icon">
    <h2>Find a Deck</h2>
    <div class="column_description">
        <p style="margin-bottom:0;">View decks created by other users</p>
        <p>and add them to your collection.</p>
    </div>

    <div class="find_textbook_link weak clickable_contents">
        <img src="{{ STATIC_URL }}icons/book_front.png">
        <a href="{% url "book_list" %}" class="xhr_link" style="font-weight:bold;">Learning from a textbook?</a>
    </div>
    <ul class="shared_decks deck_list">
        {% cache 300 shared_deck_list %} 
        {% include "flashcards/_shareddeck_list.html" %}
        {% endcache %}
    </ul>
</div>
<div class="column create_deck clickable_contents">
    <img src="{{ STATIC_URL }}icons/isloo/inbox_empty.png" class="icon">
    <h2><a href="{% url "create_deck" %}" class="xhr_link">Create a Deck</a></h2>
    <p class="column_description">Create a new deck of your own.</p>
</div>
<div class="column create_cards">
    <img src="{{ STATIC_URL }}icons/isloo/edit.png" class="icon">
    <h2>Create Cards</h2>
    <p class="column_description">Add new cards to one of your decks.</p>
    {% if deck_list %}
        <ul class="deck_list">
            {% for deck in deck_list %}
                <li class="clickable_contents"><a href="{{ deck.get_absolute_url }}" class="xhr_link" data-deck="{{ deck.id }}">{{ deck.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="weak" style="margin-top:1.5em">
            <p>Create a deck first<br>
            or find a pre-made deck.</p>
        </div>
    {% endif %}
    
</div>
<div style="clear:both"></div>

<script type="text/javascript">
    dojo.ready(function(){
        // Make the "Create Cards" links open the card form dialog and
        // follow the link to the deck simultaneously.
        dojo.query('.add_decks .create_cards ul a').onclick(function(evt){
            var node = evt.target;
            fact_ui.showFactAddDialog(dojo.attr(node, 'data-deck'));
        });

        // make "create deck" clickable
        dojo.query('.add_decks .create_deck').onclick(function(evt){
            manabi_ui.xhrLink('{% url "create_deck" %}');
        });
    });
</script>

{% endblock %}

