{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<div style="font-size:120%">
    Interval: {{ original.interval }}<br>
    EF: {{ original.ease_factor }}<br>
    <br>


    Next due time per grade:<br>
    <ul>
    {% for grade, info in original.next_repetition_per_grade.items %}
    <li>{{ grade }}<br>
    Due at {{ info.due_at }}<br>
    EF: {{ info.ease_factor|floatformat:2 }}<br>
    Interval: {{ info.interval|floatformat:2 }}<br>
    {% endfor %}
    </ul>
</div>
{% endblock %}
